[2015-12-15 06:25] hallojoe opened #1 "Missing files"
NuGet package is missing these files:

- \App_Plugins\FormEditor\js\form.js
- \App_Plugins\FormEditor\editor\form.html

[2015-12-15 06:43] kjac commented on #1
Looks like you're right. Pull them from the 0.9.0.2 release zip for now - I'll fix the NuGet package later today.

[2015-12-15 07:08] hallojoe commented on #1
Cool, looking forward to see where this project is going :)

[2015-12-15 07:56] kjac commented on #1
You'll need to grab \App_Plugins\FormEditor\editor\data.html from the zip as well.

Looks like everything that's being concatinated by Grunt is left out of the NuGet package. Probably a task order issue - I'll fix it as soon as possible and upload new NuGet packages.

[2015-12-15 17:52] kjac commented on #1
New NuGet packages with the missing files have been published (and a new release created) - 0.9.0.3.

[2015-12-15 17:52] #1 closed

[2015-12-15 17:52] kjac commented on #1
@hallojoe thanks for reporting the issue :+1:

[2016-02-15 09:30] ragivi opened #4 "Improvements"
Hello,

First of all, congratulate you for the package, is very good and I found it very useful.

I've used it in various projects and I've thought these improvements, if you want to take them into account:

- Support to placeholder attribute. I've solved this by extending the fields, but I think it could be very easy and useful if the package got it natively.
- Being able to have more than one fo

[2016-02-15 09:35] kjac commented on #4
Hey @ragivi ,

Thanks for the feedback.

Placeholder attributes are on the way. Hopefully the next release is not far off. It will be awesome :)

Having more than one form on the same URL is sort of supported out of the box, but you can't have more than one form on the same piece of Umbraco content. I'll see if I can make time to document how to do it.

[2016-02-15 10:01] ragivi commented on #4
Thanks @kjac,

I'm really excited with the arrival of the new version! :D

Ok, I stay pending wing documentation of multiple forms.

Thank you and congratulations again for your work.

[2016-02-15 20:12] alecrt opened #5 "rowId in AfterAddToIndex Event"
Hi kjac,

impressive work. I'm playing with your code and it's as simple as extensible.
Just one question: i need to pass the persisted rowId to an external CRM application.

But on AfterAddToIndex  event the rowId in not exposed by the the form model.
Could you plz add it?

Thanks,
Alessandro

[2016-02-16 10:01] kjac commented on #5
Hey @alecrt,

Sure thing. Makes sense.

Your PR #6 has reformatted the entire FormModel class, so I won't merge it in as-is. Instead I'll close it and re-implement your solution asap.

[2016-02-16 18:55] kjac commented on #5
Closed via #7

[2016-02-16 18:55] #5 closed

[2016-02-16 19:07] kjac commented on #4
Decided to release the placeholder labels and a fix for #5 right away. You can get it @ https://github.com/kjac/FormEditor/releases/tag/v0.10.0.2-beta

[2016-02-16 19:07] #4 closed

[2016-02-16 19:08] kjac commented on #5
Its ready for all your CRM integration joy :)

https://github.com/kjac/FormEditor/releases/tag/v0.10.0.2-beta

[2016-02-16 22:24] alecrt commented on #5
Great, already up and running ;)

Thx m8

[2016-02-17 08:56] ragivi commented on #5
Great job!! Thanks.

[2016-02-17 14:33] tonag opened #8 "Feature request : Conditions"
Hello, is there in plan to add Conditions so it is possible to build a survey or more complex forms ?
Thank you.

[2016-02-17 17:58] kjac commented on #8
Hi @tonag. I've considered it several times, but I have yet to work out a way to make conditions simple to work with from an editor perspective.

Until now, the best solution I can come up with is to extend or reshape the validation system into a condition system. This could be used in broader terms to support conditions of multiple types, including validation, show/hide fields etc. But the protot

[2016-03-03 22:55] kjac opened #12 "Rename select type fields"
The "Select box" and "Drop-down" are both select type fields. They should be renamed accordingly to avoid people getting confused.

See also #11

[2016-03-03 22:56] kjac opened #13 "Add option for simple receipt message"
Add the possibility to *either* select a receipt page *or* enter a receipt message (title + body).

[2016-03-04 20:59] #13 closed

[2016-03-04 21:15] #12 closed

[2016-03-17 10:59] jonrandahl opened #16 "[Feature Request] Add file upload field value as attachment to notification &| confirmation email templates"
@kjac
Hope you're well!
I've been asked if there any way to add an attachment to the sent emails if a file is uploaded?

I've gone through the code and wondered what you thought would be the best way to update the ```private static void SendEmails``` method on line 404 of _FormEditor/Source/Solution/FormEditor/FormModel.cs_ to be able to pass in the file upload value/path as an attachment as such:

[2016-03-17 13:20] alecrt opened #17 "Set fields values programmatically during form initialization"
Hi kjac,

here again with another question :P

I'm building a simple hotel website with a booking-form inside a dedicated page.
In the header of all other website pages there's a fast mini-booking-form with only 3 fields: dateFrom, dateTo, number of persons.

When the fast-form has been submitted a GET request is created against the bookingPage Url.
What I'd like to achieve is set each form field

[2016-03-17 19:29] kjac commented on #16
Hey @jonrandahl

My first thought was "what a great idea" :)

I've been mulling it over for a few hours now, and I'm leaning towards another option: A link download the file from the site. It'd require a little more work, but would prevent the usual problems with associated attached files (file size or file type issues).

Provided you'd have something like ```UploadField.DownloadFileUrl()``` avail

[2016-03-17 19:32] kjac commented on #17
Hey @alecrt,

Maybe you should consider extracting those values in your form template and passing them along to the field partials in a custom model? In this way the field partials could init their field values from either the SubmittedValue or the extracted values.

[2016-03-17 19:51] jonrandahl commented on #16
Glad to see I'm giving you food for thought @kjac; loving the new response message ui too! :-D

With the request, two things spring to mind immediately:
1. You've brilliantly already given us both the option to set a maximum files size and allowed types on a file upload field
2. There is a failover maximum file size limit set in the back office through the web.config
so while I can see your point

[2016-03-18 14:12] kjac commented on #16
@jonrandahl You have. I'm concerned about performance, but sending the notification mail as fire-and-forget might do the trick.

I'll have a look at it soon.

[2016-03-19 09:43] kjac commented on #16
@jonrandahl Have a look at #18 :)

[2016-03-19 13:57] kjac commented on #16
Done and ready in Version 0.11.1.1 - enjoy.

[2016-03-19 13:57] #16 closed

[2016-03-21 10:45] alecrt commented on #17
Yep, could be a valid solution. Thx!

[2016-04-01 09:37] ragivi opened #21 "Multiple forms issues"
Hello!

First of all thank you for your work, it's an excellent plugin and each version is more impressive.

It was to talk to you about a couple of things about the integration of multiple forms:

- The validation of required fields interferes between forms. For example, if I fill out the form 1 and try it to submit, if I have a required field on the form 2 show the validator of the form 2.
- Mor

[2016-04-01 10:13] kjac commented on #21
Hey @ragivi,

Currently there's no support for multiple forms on the same page. It's one of those things I'm tinkering with - the most recent UI overhaul is actually the first step towards this.

[2016-04-01 10:43] ragivi commented on #21
Hi,

Ok, I figured it. Thanks!!

[2016-04-01 14:57] ragivi opened #22 "PrettyName on EmailTemplates"
Hi,

I think there's an error in email templates, on @field.PrettyName, the message shows the field type (eg, "Textbox") and not the pretty name (eg "Telephone").

I don't know if there is any other way to get the "Name" attribute or even the "Placeholder" attribute.

Thanks!

[2016-04-01 15:05] kjac commented on #22
Oh! Heh... funny. I'll fix that asap.

You'll want to use `@field.Name` instead. It should work with the current version.

[2016-04-01 15:09] ragivi commented on #22
Thanks! `@field.Name` works!

If it isn't difficult, it could be interesting be able to access to the "Label" attribute too (eg `@field.Label`).

[2016-04-02 05:25] kjac commented on #22
It's not too difficult - it's all in the API. If you've based your work on the sample email template, you'll just need to do a bit of casting.

The sample email template loops through the form value fields returned by `Model.AllValueFields()`. These are of type `FieldWithValue`, and do not necessarily have a label because the label is defined on the type `FieldWithLabel` (alongside the help text).

[2016-04-02 12:23] kjac commented on #17
Closing this now :)

[2016-04-02 12:23] #17 closed

[2016-04-03 18:08] kjac commented on #22
The email template has been fixed in the latest release (0.12.0.2).

[2016-04-03 18:08] #22 closed

[2016-04-07 10:09] alecrt opened #23 "Allow ReplyTo Address in Notification email"
Hi kjac,

it would be great if we can set an option to enable replyTo for the Notification email.
I could make a PR if you want, but we should decide the UI logic first.

Thanks,
Alessandro

[2016-04-07 20:59] kjac commented on #23
Hi @alecrt,

You need an explicit reply-to option, in addition to the already existing sender email option?

[2016-04-08 07:14] alecrt commented on #23
Well, dunno if it's necessary @kjac

I think that the replyTo field is often (if not always) associated with the sender email field, so a simple checkbox under that field could be enough..

What do you think?

[2016-04-08 07:18] kjac commented on #23
@alecrt I was under the impression that the sender would always be used as reply-to if no reply-to was defined...? But just to be on the safe side, how about I just explicitly set the reply-to address to be the same as the sender email?

[2016-04-08 07:20] alecrt commented on #23
It's fine for me @kjac !
Thanks

[2016-04-08 07:23] kjac commented on #23
@alecrt I'll add it to the upcoming release :)

[2016-04-08 07:24] alecrt commented on #23
Great!!! Thanks!!!

[2016-04-08 11:57] kjac commented on #23
Fixed. I'm aiming for a new release next week.

[2016-04-12 14:18] ragivi opened #27 "Multiple pages with the same form"
Hi!

It has happened to me that I have in multiple pages the same form, so I have to create the form on every page where I want it to appear.

My question is, is there any way to create a single form and reference it on multiple pages once?

I guess that the solution is create another View (duplicating FormEditorSync.cshtml) and change the var form to obtain it by a NodeId, but I can't make it wor

[2016-04-12 18:33] jesperordrup opened #28 "Installed on a clean 7.4.1 (on UAAS)"
Installed Umbraco 7.4.1 (pull from UAAS)
Installed FormEditor via nuget
Started website

This happens:

![screen shot 2016-04-12 at 15 54 59](https://cloud.githubusercontent.com/assets/3120151/14464213/3c2ff8c6-00ce-11e6-9d77-faf575c61958.png)

[2016-04-12 18:43] kjac commented on #27
Hi @ragivi,

You can do this quite easily - no need to create the same form everywhere :)

It's all documented [here](https://github.com/kjac/FormEditor/blob/master/Docs/reuse.md).

[2016-04-12 18:44] kjac commented on #28
Hi @jesperordrup,

I haven't had time to implement UaaS support in FormEditor yet. What you're seeing is pretty much what I'd expect to see on UaaS :)

It's on my TODO list.

[2016-04-12 20:06] jesperordrup commented on #28
It seems to work on UAAS if you just install as an umbraco package .. both locally and on Azure

[2016-04-12 20:26] kjac commented on #28
Oooh.... right. Then I think I know what the problem is; FormEditor has a dependency on Umbraco core binaries v7.3, because it's compatible with 7.3+.

I've actually made a note of it in the "extending FormEditor" docs [here](https://github.com/kjac/FormEditor/blob/master/Docs/extend_field_advanced.md#project-output) (although that was not meant as a comment specifically for UaaS).

All the same,

[2016-04-13 08:12] ragivi commented on #27
Great!

It was just what I wanted.

Thanks!

[2016-04-13 08:12] #27 closed

[2016-04-13 08:15] kjac commented on #27
@ragivi glad I could help :)

[2016-04-20 15:32] kjac commented on #28
Hey Jesper, did you solve the issue by installing the package by hand?

[2016-04-20 15:59] jesperordrup commented on #28
Yup - downloaded the Umbraco Package and installed it via Developer section

[2016-05-02 10:06] alecrt commented on #23
Hi @kjac
I re-open this because i think is still missing an important feature: reply-to in notification emails

Suppose an hotel site has a booking form. A customer compile and submit it. The hotel staff receives the notification email and should be able to reply-to the email field in the form.

Admin UI speaking I'd add a new "Reply To" dropdown field where the admin could choose the reply to fie

[2016-05-03 08:04] kjac commented on #23
Hi @alecrt,

I get where you're going. But I don't agree with the feature, because the notification email is not one you'd necessarily want to include in a reply to the customer (in your case). The notification email can contain all sorts of internal stuff, depending on how you choose to render it, and setting the customer email as reply-to introduces a risk of accidentally sending internal data t

[2016-05-03 20:25] alecrt commented on #23
I understand.
It makes perfect sense to me.

Thanks, A.

[2016-05-09 05:38] kjac commented on #28
Closing this for now. I might have to revisit UaaS stuff later on.

[2016-05-09 05:38] #28 closed

[2016-05-25 09:28] mikkelrom opened #32 "Async: Checkbox default value is not implemented"
The "checked by default" feature is not implemented in async-mode.

Awesome product btw :+1: :smile:

[2016-05-29 10:14] #32 closed

[2016-05-29 10:28] kjac commented on #32
Fixed. Thanks for reporting :+1:

[2016-06-02 13:48] KalpeshDave7883 opened #34 "Forms editor gives error after save and publish"
Hi,

I am totally new in umbraco, so may be its my mistake to not identify the error or properly not set the FomsEditor.
This is really very useful and great tool for me. but when I did every thing and just save and publish it. Then go for the preview the form I got one error for assembly.

![image](https://cloud.githubusercontent.com/assets/19710580/15747064/b9caa4d4-28f6-11e6-9493-f336fe4083d5.p

[2016-06-02 14:59] KalpeshDave7883 commented on #34
Can you please tell me why I get this error?

[2016-06-02 16:34] kjac commented on #34
Hi there.

It looks like there's a problem in your template - it's referring a view model that does not seem to exist.

Can you get your form rendered if you use one of the sample templates as described [here](https://github.com/kjac/FormEditor/blob/master/Docs/render.md)?

[2016-06-02 17:55] KalpeshDave7883 commented on #34
Hi ,

I had tried your sample forms also but not get success. Can you please look at the url ?
Where i have installed the package for it.

Url: umbracodev2.brnd.com\umbraco
User: brndadmin
Pass: qhfxGJet

Its very needful for me to get this work. Please help me to come out of this

Thanks for your help
Kalpesh

Sent from Samsung Mobile

-------- Original message --------
From: Kenn Jacobsen <notif

[2016-06-03 05:35] kjac commented on #34
Hey.

I've tried applying the sample template to your contact form (http://umbracodev2.brnd.com/contact-form/) and it works just fine. So something is wrong with your FormEditor2 template.

It looks to me like it's referencing a non-existing view model in the `UmbracoTemplatePage<>` inheritance. Maybe the ModelsBuilder needs to rebuild your doctype models - that could be one explanation. But you'l

[2016-06-03 05:35] #34 closed

[2016-06-03 05:51] KalpeshDave7883 commented on #34
thank you very much sir, I got the problem now :)

[2016-06-03 11:55] insivia opened #35 "The type or namespace name 'FormModel' could not be found"
Hello,

I am attempting to put my form in a partial view to use on every page of the site through the Master.cshtml.  I have done the following...

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    var contactForm = rootNode.Where(x => x.IsDocumentType("contactForm")).First();
}

@{
  // get the form model (named "form" o

[2016-06-03 14:02] kjac commented on #35
Hey,

You probably need to add a few usings - see also the [sample template](https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/Views/FormEditorSync.cshtml):

[code]

[2016-06-03 14:08] insivia commented on #35
Thank you.  Seems to have gotten me further.  Now I see:

--
**Exception Details: System.NullReferenceException: Object reference not set to an instance of an object.**

Source Error:

Line 12: <div class="container">
Line 13:   @* NOTE: if you're not using form pages, you can access all form rows directly with form.Rows *@
Line 14:   @foreach (var page in form.Pages)
Line 15:   {
Line 16:     <di

[2016-06-03 14:38] kjac commented on #35
Hey. I'm guessing your form variable has no value. Do a null check?
On Jun 3, 2016 4:08 PM, "Insivia" <notifications@github.com> wrote:

Thank you. Seems to have gotten me further. Now I see:

*Exception Details: System.NullReferenceException: Object reference not set
to an instance of an object.*

Source Error:

Line 12:

Line 13: @* NOTE: if you're not using form pages, you can access all form
r

[2016-06-06 08:34] KalpeshDave7883 opened #36 "hi,"

[2016-06-06 08:34] KalpeshDave7883 opened #37 "hi,"
hi,

I am using formeditor and now I just want to fit it with our CSS that we are using material CSS. I have tried to remove the boot strap CSS from sample form and tried to give our own CSS to have consistency in project.

![image](https://cloud.githubusercontent.com/assets/19710580/15816336/efc1c850-2bef-11e6-99f6-a6ecdd32a560.png)

but as you see in the screen shot it will always take bootstrap

[2016-06-06 08:41] #36 closed

[2016-06-06 09:33] kjac commented on #37
Hi @KalpeshDave7883,

FormEditor itself doesn't load any CSS - only the template can do that. If you've commented out the link as you've shown above, and Bootstrap still loads, you must have a reference to it elsewhere in your template hierarchy.

-Kenn

[2016-06-06 09:44] KalpeshDave7883 opened #38 "template gives error"
Hi,

sorry to write you always for small things, as I am new in umbraco and my first task is more then complex given by leaders then any umbraco new comers.

As the things is running very well with your sample files but if I tried to do the same for the other template with same code copy and paste then I am not able to get the things work.. and it always gives me same error

![image](https://cloud

[2016-06-06 09:47] KalpeshDave7883 commented on #37
There is no link is given in my project for boot strap, as I told you its only material design. And I am also able to change in DataType of the formeditor but on the cell.alias in template its always render with the older class like class="col-md-6" which I have already changed to class="col m6" as you shown in my screen dump I sent. :)

[2016-06-06 09:54] kjac commented on #37
OK, I think I understand your problem now.

The row and cell aliases are saved within the FormEditor property value. If you've changed the aliases in the datatype setup after building your form, you'll have to rebuild the form to get the new aliases.

[2016-06-06 09:55] kjac commented on #38
It looks like the `form` variable is null. You're probably retrieving it by the wrong name or from the the wrong IPublishedContent.

[2016-06-06 10:05] KalpeshDave7883 commented on #37
Genius! sir I am just been you big friend..

I am also thinking to add one more property to all the fields like 2 dropdowns which of one just contains the values of each entity name from MSCRM and the other can give the result of all the columns of that entity from MSCRM..

also this to be mandatory fields to be chosen by user, cause off course it needs to be mapped with the forms fields.. so whil

[2016-06-06 10:05] #37 closed

[2016-06-06 10:06] KalpeshDave7883 commented on #38
Thanks Sir

[2016-06-06 10:06] #38 closed

[2016-06-06 10:58] alecrt opened #39 "Track transaction Id inside thankyou page"
Hi kjac,

i need to track the transactionId (rowId) using a tracking pixel inside the thankyou page.

A possibile solution could be add a new property in SubmissionSuccessData class and fill it in SubmitEntry action method.

Any better ideas?

[2016-06-06 13:56] kjac commented on #39
Hey @alecrt,

This would require a rewrite of `CollectSubmittedValues()`, which would again affect the templates. Not to mention there's a potential security risk involved with returning internal data (rowId) to the client.

Maybe you could consider using the `AfterAddToIndex` event to save a temporary (session) state and use that when rendering your thank-you page?

[2016-06-06 19:27] alecrt commented on #39
Which session wrapper would you suggest me?
I thought about TempData but it's not available in the AfterAddToIndex event.

[2016-06-07 05:26] kjac commented on #39
@alecrt No, TempData is only available within the current request. I'd consider plain old ASP.Net session state?

[2016-06-08 11:48] KalpeshDave7883 opened #40 "Not able to submit the data in submittion"
Hello,

I have tried with our own css to be refereed with formeditor's controls, and render the page in master template you can see like http://umbracodev2.brnd.com/umbraco/preview/?id=2772#?id=2772

Now, after doing that I am not able to submit any data from forms to submission tab in content page of the form

![image](https://cloud.githubusercontent.com/assets/19710580/15893311/79d2e18e-2d9c-11e

[2016-06-10 08:39] KalpeshDave7883 commented on #40
Hello can you please update me?

[2016-06-12 11:05] kjac commented on #40
Hi @KalpeshDave7883,

I guess you need to attach a debugger to your code and check if you're receiving any POST variables on the form submission.

I set up the sample template on your site a little while ago and it worked just fine, so whatever is wrong, it's got to be something in your template.

[2016-06-13 12:25] rasmusfjord opened #41 "Storing data on SQL not working probably"
Or maybe a more correct title "Im probably doing it wrong".

So i want it to use SQL for storage so i have set my formeditor.config file to :
[code]

But when i save a form it still creates the indexes in App_Data, and if i remove the form/index folder(ex. "1206") the data for the form is gone. Am i missing something

[2016-06-13 12:31] kjac commented on #41
Hey @rasmusfjord,

Did you build the [SQL index](https://github.com/kjac/FormEditor/tree/master/Samples/SQL%20storage%20index) from the samples and did you include it in your /bin folder? It definitively sounds like it's missing... :)

[2016-06-13 12:34] rasmusfjord commented on #41
Oh :) No, thought the sql it self was part of the core. That is prob. what im missing. Sec will try.

[2016-06-13 12:42] rasmusfjord commented on #41
ARH now it works :)

Sorry it was not clear to me that i had to build it and add it by my self :) Thx for an awesome job and see cya at CG16 !

[2016-06-13 12:42] #41 closed

[2016-06-13 12:55] kjac commented on #41
Cool 😎 see you at CG!
On Jun 13, 2016 2:42 PM, "rasmusfjord" <notifications@github.com> wrote:

[2016-07-12 09:46] kjac opened #42 "Backoffice breaks on UaaS"
There have been some reports that the backoffice breaks on UaaS when fetching field types and condition types. Probably an issue with scanning all assemblies in the app domain.

[2016-07-12 09:49] #42 closed

[2016-07-20 09:23] kjac opened #43 "Fields names starting with numerics"
If a field name starts with a number, the async rendering breaks.

[2016-07-20 09:27] #43 closed

[2016-07-26 10:54] KalpeshDave7883 commented on #40
i dont know what was I had done wrong, but still I am not able to submit my form

[2016-07-26 10:55] KalpeshDave7883 commented on #40
you can check link http://umbracodev2.brnd.com/form-flemming/ and my umbraco user name and password is
username : brndadmin
password : qhfxGJet

please help me, I am in very dying situation

[2016-07-29 21:47] eriksimonic opened #46 "FormEditorApi controller not found."
Hi. I have installed the latest version from NuGet, and installed it on Umbraco 7.4.3

In the backoffice a get /umbraco/backoffice/FormEditorApi/PropertyEditor/GetAllConditionTypes 404, for all Api call to the /umbraco/backoffice/FormEditorApi

Do you have any idea?

[2016-07-30 13:47] kjac commented on #46
Hey @eriksimonic,

That's weird. Do you see FormEditor.dll in your /bin-folder?

[2016-07-30 17:57] kjac commented on #40
Hi @KalpeshDave7883,

I just had a look at your page and it looks like the form isn't submitting at all. I think there is some javascript preventing it, when I disabled javascript I could submit the form.

[2016-07-30 19:19] eriksimonic commented on #46
Yes. It is in the bin directory

[2016-07-30 21:03] eriksimonic commented on #46
If i run the application in x64 bit the FormEditor works.. only in may local IIS was a bit troublesome.
So for now I am testing the functionality, it works even trought an Macro witch is great, I can create a reusable form.

I am only missing a Workflow setup, I know that you have a event on witch I can hook may custom logic, But it would be realy neet to have a Workflow interface  "IFormEditorWor

[2016-07-30 21:04] #46 closed

[2016-07-31 05:10] kjac commented on #46
Hey @eriksimonic :)

I'm glad you solved it. I'm a bit puzzled, though... I just installed a fresh Umbraco 7.4.3 with the latest FormEditor (0.13.3.2), all from NuGet, and ran it on IISExpress with no trouble at all. FormEditor isn't built specifically for x64, as far as I know. So... strange.

With respect to workflow - I'd love to hear your ideas, if you have something concrete?

[2016-07-31 09:02] eriksimonic commented on #46
Hi.

The workflows or plugable runtimes or something like this.
I would implement it like this.

In the property editor I would add a new tab, Custum Actions
There I could select a custom developed class that implements and interface ie IFormEditorAction,

public class FormEditorActionParamater
{
 public string propertyAlias {get;set;}
public string propertyName {get;set;}
public Bool Required {ge

[2016-08-02 10:08] eriksimonic opened #49 "Backed hover over icon, icon disappears."
In the property editor  Submissions tab, if you hover over an icon, it despairs.. so it looks a bit jurkej..
Version 0.14.04
Google Chrome Version 51.0.2704.103 m

Regards.

![image](https://cloud.githubusercontent.com/assets/10416737/17325057/cb15f9a4-58a9-11e6-81b9-bfbd7d30a522.png)

[2016-08-02 10:41] eriksimonic opened #50 "Wrong behavior when submitting file attachment."
When submitting a form with an attachment field, and it is configured to send attachments by email, the attachment is empty.
See the screen shot.

![image](https://cloud.githubusercontent.com/assets/10416737/17325898/6086721c-58ae-11e6-9f67-8b48f7955a5e.png)

[2016-08-02 10:53] kjac commented on #50
@eriksimonic Strange... that used to work :smile:

I'll test and get back to you.

[2016-08-02 18:46] kjac commented on #50
Hi @eriksimonic,

I just tested attaching uploaded images to the notification email and it works fine when sending the mail to Mailtrap. Are you sure it's not your mail server that's giving you a hard time?

![image upload](https://cloud.githubusercontent.com/assets/7405322/17340827/258b7c18-58f2-11e6-9d4c-c9c51494152f.png)

[2016-08-02 18:50] kjac commented on #49
Hi @eriksimonic,

I can't reproduce this - it looks fine both on my local dev install and on a production install. Maybe you need to clear cache or something?

![hover](https://cloud.githubusercontent.com/assets/7405322/17340955/bf08f050-58f2-11e6-82ff-41055a24de6c.png)

[2016-08-02 21:38] eriksimonic commented on #50
@kjac  I will try to run it trough a debugger.

[2016-08-02 22:06] eriksimonic commented on #49
@kjac
It is still present after cache refresh.
Confirmed IE and Chrome
Check this video if it helps.
http://youtu.be/ABaBVID2Y2U?hd=1

[2016-08-03 08:26] KalpeshDave7883 commented on #40
Hi Kenn,

Sorry for late reply, could you please address me which javascript file you have disabled to work with forms? Its give me much help, to clarify the code as we have so many JS files in our project

Kalpesh Dave
CEO

kalpesh@brnd.com<mailto:kalpesh@brnd.com>
Mobil: +91 9723445486
Skype: kalpesh.brnd

BRND Technologies India LLP
www.brnd.com<http://www.brnd.com/>
A-703, Safal Pegashish,
Opp

[2016-08-03 10:30] kjac commented on #40
Hi. I just disabled all javascript via the chrome console. That seemed to
make the form able to submit.

On Aug 3, 2016 11:00 AM, "KalpeshDave7883" <notifications@github.com> wrote:

[2016-08-03 17:30] kjac commented on #49
@eriksimonic I can reproduce now. Thanks :) I'll make sure it's fixed asap.

[2016-08-03 17:52] kjac commented on #50
@eriksimonic Fair point - I'll add that to the next release :+1:

[2016-08-03 17:54] kjac commented on #35
Closing this due to inactivity.

[2016-08-03 17:54] #35 closed

[2016-08-03 17:54] kjac commented on #39
Closing this due to inactivity.

[2016-08-03 17:57] #49 closed

[2016-08-03 17:57] #50 closed

[2016-08-03 20:36] eriksimonic commented on #49
@kjac Thanks, it is an annoyance.. but anything else :) But my editors will be pleased that the submissions grid is not blinking anymore :)

[2016-08-03 20:39] kjac commented on #49
@eriksimonic Oh but it definitively needs fixing :) thanks for being so patient with me finding it. Turns out it's a 7.4.3 style that's been added and I was testing on 7.4.1

[2016-08-03 20:53] eriksimonic commented on #49
@kjac  no problem I really like the extension as it gives a lot of flexibility. So it is worth some time investment.

[2016-08-05 09:13] rasmusfjord opened #53 "Number validation "value is" not working"
Hey there :)

We have implemented the async angular part of formeditor into a few of our projects, so far its just been a stellar experience, but we are seeing a thing with "validation" just not working. We have been trying to debug it our selfs, also the reason for @schonert 2 PRs.

We have a form with a few fields in, and 1 validation rule, that a number field must have a value of 10.
![image](h

[2016-08-05 10:07] kjac commented on #53
Hey @rasmusfjord,

I think you have it backwards :) for that validation you'll want to use a "Value is not" condition, not "Value is".

But... I understand why you're confused. Actually I am too. The help text isn't exactly helpful, as a matter of fact it is completely wrong. I'll get on that fixed for the next release. It should read something in the lines of _"A validation consists of a set of r

[2016-08-08 13:34] rasmusfjord commented on #53
Oh snap yeah that is confusing, no one at our office caught that, i was thinking if we could just rename the conditions to be like "Value must be" 10. Or some other naming because if we all confused the customers will to :)

[2016-08-08 22:32] #53 closed

[2016-08-10 08:33] kjac commented on #21
This is in part solved in version 0.14.1.1.

For the time being there are no plans for supporting multiple forms on the same document type.

[2016-08-10 08:33] #21 closed

[2016-08-30 07:24] eriksimonic opened #57 "Add an option to override showHideValidationErrorForField"
Hi I had to override how classes are added to the controls. I did expose this function in the Sync library so it can be overridden. It may be useful for others to.

https://github.com/eriksimonic/FormEditor/blob/master/Source/Umbraco/JS/FormEditor/FormEditorSync.js

Regards
Erik

[2016-08-31 09:15] kjac commented on #57
Hey @eriksimonic,

Nice. I'll test it out as soon as I can and merge it :)

Thanks!

[2016-09-08 12:53] KalpeshDave7883 opened #58 "Export to Excel"
Hi,

Can you please show me the code or way, so that I can able to export the submitted data to .xlsx or .xls file ?

I had tried to edit in DownloadController.cs file in which I had tried with code

// Rename .csv To .xls
            System.IO.File.Move(@"Form data {0}.csv", @"Form data {0}.csv.xls");

            var _app = new Excel.Application();
            var _workbooks = _app.Workbooks;

[2016-09-12 10:58] BarryGibson opened #59 "Readme.md ToC links directing to /kjac/Docs/ instead of /kjac/FormEditor/Docs/"
Hi Kenn,

The links on github in the Table of contents aren't currently working they are redirecting you to
https://github.com/kjac/Docs/
instead of
https://github.com/kjac/FormEditor/Docs/

[2016-09-12 11:08] kjac commented on #59
Hey @BarryGibson .... that's annoying. I'll fix it asap :) thanks!

[2016-09-12 11:16] kjac commented on #59
@BarryGibson it may be a bug in GitHub... the links should work according to https://help.github.com/articles/relative-links-in-readmes/ (and they used to work). I'll wait a bit and see if something magically fixes the links :)

[2016-09-12 11:20] BarryGibson commented on #59
Yes they were working last week so maybe a GitHub issue.

[2016-09-12 23:34] BarryGibson commented on #59
Working this morning (Something magically happened)

[2016-09-12 23:34] #59 closed

[2016-09-13 11:03] kjac commented on #59
@BarryGibson Yeah... I talked to GitHub support and they did something magic :smile:

Once again, thanks for reporting the issue! :+1:

[2016-09-14 06:14] #57 closed

[2016-09-14 06:16] kjac commented on #40
Closing this as there's no activity.

[2016-09-14 06:16] #40 closed

[2016-09-22 11:32] BarryGibson opened #62 "Feature Request: Edit forms"
Hi, Have you considered the ability to edit submitted forms at all.
I'm currently putting something together to list the records and and then allow the user to edit.
Is this type of functionality something that you have thought about or looked into, any input would be appreciated and welcome.

[2016-09-22 14:03] kjac commented on #62
Hi @BarryGibson,

At the moment the indexes do not support updates. I considered it as a feature from backend, but it's not easily accomplished, as custom field types make editing non-deterministic.

Another problem is if the indexes were changed to support updates to existing form entries, any custom indexes out there would be broken. So it'd have to be exposed through an optional interface, like

[2016-09-23 00:51] BarryGibson commented on #62
Hi @kjac,

Thanks for your response, it does make sense.
I am working on this currently so will let you know how I go.

Thanks again,

Barry

[2016-09-25 06:14] BarryGibson commented on #62
Hi @kjac,

I have moved along and made some progress on this and would be interested in your feedback as to my approach before I clean it up a bit more and put in a pull request (if that is of interest).

1. I went ahead with your steps above and implemented an optional interface and added to the default index.
2. I seeded the data into the form entry by adding to the CollectSubmittedValues to als

[2016-09-25 17:02] eriksimonic opened #64 "Feature request."
Hi.

I have come across an scenario where it would be a fantastic thing, that an editor could change/add class names of the row.

I have an really advanced form implementation and it is really difficult to edit because I have to create new row and move all elements to that tow, just to apply an style to that row.

I hope it make some sense..

[2016-09-25 17:23] kjac commented on #64
Hey @eriksimonic :)

How about just restyling your existing row (by alias), instead of migrating/moving all your existing fields to a new row type?

[2016-09-25 17:45] eriksimonic commented on #64
@kjac
It should suffice.

[2016-09-25 18:11] kjac commented on #64
@eriksimonic Cool.

I may be overthinking your scenario here. But... sometimes you may find yourself in a situation where you have e.g. an existing "One column" row that you want to split into two variants - say... "One column advanced" and "One column". Best way to do this without data loss is to rename the existing "One column" row to "One column advanced" without altering it's alias, and then c

[2016-09-26 12:53] kjac commented on #62
Hey @BarryGibson :)

Kudos for taking this on! 👍

I just had a quick look and you're definitively on the right track. I will have to download your branch and have a proper look, hopefully tonight.

One thing I think you should revisit is the way you seed the `FormModel`. In my opinion you should expose a `LoadValues(Guid rowId)` method, that would seed the `FormModel` explicitly. You could set the

[2016-09-27 05:06] BarryGibson commented on #62
Thanks @kjac,

I've taken on board your feedback and agree it's a better way to seed the `FormModel`.
I have made the changes to my branch, and look forward to any further feedback.

[2016-09-28 09:06] kjac commented on #62
Hey @BarryGibson,

I think the flow looks good. This is definitively something we need in the project.

There are some things in the form data access and statistics that I'd like to try out and maybe suggest some changes to, but first thing's first:

Does it work for you?

If so I'd like to create a branch that you can create a PR of the current changes into. Then I'll give it a spin this weekend

[2016-09-28 09:14] BarryGibson commented on #62
Hi @kjac,

Yes it works for me. I am currently using it with a SQL index. (haven't had time yet to check the default index or much experience with Lucene).

Would be happy to do a push request into a branch you set-up.

[2016-09-28 10:32] kjac commented on #62
@BarryGibson cool :) I'm sure we can make this a great feature.

If you'll make a PR to the edit-form-data branch I'll merge it in and start tinkering with it.

[2016-09-30 09:54] BarryGibson opened #68 "Feature Request: Parent/Child forms"
Hi @kjac (and anyone else who cares to comment :smile:),
I'm putting together some functionality to allow parent and child forms, at this stage I am thinking of a custom field that allows you to specify a sub form. Then adding a parentID to the child form to allow the linkage. I'm still considering how to do it user interface wise. Any thoughts you might have would be welcome.

My initial use-case

[2016-10-01 00:04] kjac commented on #62
@BarryGibson I've made a few changes to your code in the edit-form-data branch - simplified some of it a bit and added some reuse in the index. Could you please pull it when you have time and see if it works for you?

As I've noted in the `IUpdateIndex` interface, I believe it should be merged with the generel `IIndex` interface in a few releases, which will further reduce the complexity of doing

[2016-10-01 03:04] kjac commented on #68
Hi @BarryGibson,

I'm afraid I don't quite understand what you're trying to achieve. Could you describe the use case in a little more detail?

[2016-10-01 03:48] BarryGibson commented on #68
Hi @kjac,

What I'm trying to achieve is having a form with a nested form and linking the data in the nested form to the parent.

I have created a quick picture below that might explain it better:

![company example](https://cloud.githubusercontent.com/assets/15335262/19011513/3960ef4e-87db-11e6-825c-73e3c1cdc0a0.png)

So my current proposed solution(/hack) is to create a hidden field (like the me

[2016-10-01 04:31] BarryGibson commented on #62
@kjac Thanks very much, I have pulled it and it seems to be working well.

I like your simplifications and agree with the merging of the `IUpdateIndex` interface into the general `IIndex` interface when appropriate.

Also thanks for fixing up and improving the performance with my hack on the Default index. 👍

[2016-10-01 14:26] kjac commented on #68
@BarryGibson I get it now. And that is a perfect candidate for a custom field if I ever saw one 😄

The way I see it you have two good options:

1. Create a custom field that can accept and store multiple name/email pairs. This is the best solution for the editors, but it may give you issues with both storage (potentially more data in the field than your storage allows per field) and with displayin

[2016-10-01 19:51] kjac commented on #62
@BarryGibson Cool, I'll get it merged in asap then. And thank you for doing all the hard work 👍

[2016-10-01 20:48] tilutza opened #69 "Question related to forms"
Hi Kenn,

I have installed your package and it does exactly what is advertised. The problem is I have a special need of allowing the user to customize the form and it does not really fix 100%. That's why I am writing you here, since it is not a feature/bug .. but more like an advice and start point for using the code.

I need to create a custom section in umbraco, with a simple tree. When a new pa

[2016-10-01 21:38] BarryGibson commented on #68
@kjac thanks very much for your thoughts and suggestions, unfortunately both option 1 and 2 above don't suit as I don't have  a single use case I have a number of them and some of the use cases have a lot of fields in the child form. Also it would be good for the editor to be able to edit the child form fields.

At the moment I am thinking of a custom control that allows you to select another form

[2016-10-02 05:06] kjac commented on #68
@BarryGibson Sounds like you have your work cut out for you. Rendering is one thing, collecting the submitted values might be an entirely different beast to tackle.

You could also consider creating a bunch of custom fields, each corresponding to the different use cases? If need be you could even make the editors able to tweak the rendering of the fields, as you'll create your own "edit field" pag

[2016-10-02 06:22] kjac commented on #69
Hi @tilutza,

I think you'll be hard pressed to make FormEditor work outside of the Umbraco content. Both the property editor in backend and the form submission handling from frontend are pretty tightly coupled with `IContent` and `IPublishedContent` respectively, because the form schema (the fields) and the form configuration (the prevalues) are contained within or accessed through the Umbraco co

[2016-10-02 09:02] kjac commented on #58
Closing this due to inactivity.

[2016-10-02 09:02] #58 closed

[2016-10-02 09:03] kjac commented on #64
Closing this now :)

[2016-10-02 09:04] #62 closed

[2016-10-02 15:12] tilutza commented on #69
Well, I want that my content to not display in the Content node of umbraco and to be managed separately (that's why I said I don't want Umbraco tables). However if is this possible to do that without displaying in the content section, I can go for this too. In the end I want to be able to insert the form in a umbraco page, so I need to figure out how I can do this (maybe a macro will do the job).

[2016-10-02 16:09] kjac commented on #69
Hey @tilutza,

I don't understand why you want your content to be managed outside of the content tree. It sounds like you might be overthinking something.

If you're trying to create a setup where you have reusable forms (or sets of form and tinymce), have a look at the documentation for [reusable forms](https://github.com/kjac/FormEditor/blob/master/Docs/reuse.md).

[2016-10-02 16:27] tilutza commented on #69
There will be content managable from the Content seciton (some data that will be displayed in the content). However, I thought to be able to have this pair or form and tinymce, is because at the end I want to generate some binary content based on this definition. This is why I would like to have a separate section where the data needed for binary generation (this pair of form template and tinymce)

[2016-10-02 17:17] kjac commented on #69
@tilutza It's not really my place to say if you're overthinking it or not... your requirements might just justify creating a custom section. However I'd be surprised if you couldn't achieve the same by creating a "hands off" folder in the content section for your forms and tinymce's - in other words a section of the content tree where the editors shouldn't go unless they know what they're doing.

[2016-10-02 17:49] eriksimonic commented on #64
You to clearly my intent here..
Still it would be a nice feature to have as I have to implement a form that needs to be something ultra fantastic as the design team come up. In this case it would really help a lot that you could specify a css class fro the containing row. For now I have separate rows that do the same thins 2x colum design..

as i every part of grid editing there is an option to ad

[2016-10-03 07:08] kjac commented on #64
@eriksimonic I think I misunderstood your request then :smile:

If I understand you correctly you want to be able to specify a style sheet on the Form Editor data type, which should be loaded into the backoffice, and be able to target specific rows and cells in this style sheet?

[2016-10-03 13:55] eriksimonic commented on #64
@kjac Yes. This is correct. Right now we have a hard time to style the form .

[2016-10-03 14:48] kjac commented on #64
@eriksimonic Alrighty! I'll get right on that, shouldn't be any kind of troublesome to make.

[2016-10-03 15:11] #64 closed

[2016-10-04 08:29] kjac commented on #64
@eriksimonic Ready in the new release :)

[2016-10-04 08:30] kjac commented on #62
@BarryGibson The new release is out - thanks again for the effort 👍

[2016-10-04 11:10] eriksimonic commented on #64
@kjac Dam.. I really suck when I have to explain something.

This is the feature that we would need. The custom style is no problem at all..
![image](https://cloud.githubusercontent.com/assets/10416737/19072125/c7cdcf4a-8a33-11e6-9668-be44aae6e9bb.png)

[2016-10-04 22:11] rocifier opened #71 "Malware removed by windows defender when installing FormEditor.Binaries nuget package"
Which file do I need to whitelist on Windows Defender (windows 10) to stop it removing one of the files when I install the FormEditor.Binaries package? Or can I just ignore that error?

[2016-10-04 22:19] rocifier commented on #8
What about something like how azure logic apps does conditions?

[2016-10-04 22:35] BarryGibson commented on #71
HI @rocifier what malware is Windows Defender identifying it as?

[2016-10-05 03:01] rocifier commented on #71
I figured it out, it's identifying bin\ImageProcessor.Web.dll as Win32/Vundo.IB
I whitelisted the bin folder and it installed. But I still can't get it working. Do I still need FormEditor.Binaries  and does that library work across separate projects with mvc and another project for business logic?

[2016-10-05 04:24] kjac commented on #71
@rocifier I can't figure out if you're doing an Umbraco project or not; Form Editor is for Umbraco only.

If you are, you should try to get Umbraco working first using the Umbraco NuGet package, then install Form Editor.

[2016-10-05 05:14] BarryGibson commented on #71
@kjac and @rocifier,

This appears to be an issue with ImageProcessor see:
[https://our.umbraco.org/forum/umbraco-7/developing-umbraco-7-packages/71929-umbraco-imageprocessorwebdll-is-appearing-as-a-trojan](https://our.umbraco.org/forum/umbraco-7/developing-umbraco-7-packages/71929-umbraco-imageprocessorwebdll-is-appearing-as-a-trojan)

I have also been experiencing it.

[2016-10-05 05:22] kjac commented on #71
@BarryGibson Thanks. I've seen it every so often too, but so far I've had no problems arise from it in my development cycle.

[2016-10-05 08:55] rocifier commented on #71
I've let all the devs in the office know about the false detection. We're pretty keen on working with this form editor. So far we've been using it successfully in a number of situations (all Umbraco projects) but what I've been trying to do today is create a custom control which houses a group of dynamically generated controls. However I've been unsuccessful so far in following the tutorial for cr

[2016-10-05 10:41] kjac commented on #71
@rocifier Cool. And I'm glad you like it :)

It does sounds like you're in a pickle with your custom field, though. From what I can tell, you're making a lot of things very difficult for yourself.

I think you should try downloading the [sample project] (https://github.com/kjac/FormEditor/tree/master/Samples/Advanced%20custom%20field) and use that as a basis for your own custom field. Mind you, yo

[2016-10-05 10:45] kjac commented on #64
@eriksimonic Hmmm... why can't you target your row using the row alias CSS class name? Is it the same row type?

[2016-10-05 11:16] eriksimonic commented on #64
@kjac  Hi.

Yes the row layout is always the same, but the rows are styles bit different for each data segment. For now we have something like this.. as you imagine. it is a bit messy.

![image](https://cloud.githubusercontent.com/assets/10416737/19110928/2ba0f3a2-8afd-11e6-91f2-f2938a4d03b4.png)

As far I am concerned a row and a cell should have an option to add a custom css class name, so it is

[2016-10-05 11:35] eriksimonic opened #72 "Custom filed throws a YSOD"
Hi. I have a custom field configured like this.

    <Field type="ap.package.selector" name="Package selector" fixedValues="true" />

![image](https://cloud.githubusercontent.com/assets/10416737/19111534/5f27423c-8b00-11e6-92ba-1c4ae8b6a1ce.png)

[code]

[2016-10-05 12:55] kjac commented on #72
Hey @eriksimonic,

Argh I hoped I had beat everyone to that bug. I released a fix for it last night, check the most recent release.

[2016-10-05 13:04] kjac commented on #64
@eriksimonic The idea with Form Editor is to have multiple row types (e.g. "One column simple", "One column highlighted" etc) and let the editors pick the ones they want. Using the row alias as CSS class in frontend you should then be able to target the row types individually.

With the added backend CSS option you can now style the individual rows in a way so the editors can tell them apart. Does

[2016-10-05 14:07] eriksimonic commented on #64
@kjac no the additional css class name is used for the front end not the editor. So the fronted custom scripts and styles are easier applied. Right now if we have a 2 column layout and one column layout differ form the other just for an padding or .. an icon added to that row. we have to create a separate row definition.. in this case it is totally redundant .. to do that, as it is only needed to

[2016-10-05 20:06] rocifier commented on #71
Hmm I'm not really sure what I've done.. I reverted back to a previous commit after getting javascript errors in the backend, but the javascript errors haven't gone away. Basically my project now just has the reference to FormEditor nuget package, but the javascript errors are still there even after rebuilding and restarting the site:

[http://imgur.com/a/jg1Hn](screenshot)

[2016-10-05 20:44] rocifier commented on #71
Okay I got it working by enabling debug mode in web.config as described here: https://our.umbraco.org/forum/umbraco-7/using-umbraco-7/63392-PackageManifest-doesnt-actually-load-the-javascript-files

Back to the drawing board now XD

[2016-10-05 21:27] rocifier commented on #71
Ohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh I found the missing step which wasn't in the tutorial: [http://imgur.com/a/CycCQ](screenshot of doctype). Everything is working now.

[2016-10-06 05:22] kjac commented on #71
@rocifier Cool :) I'm happy you got things working! I'll add a reminder to the tutorials to avoid any future issues like this.

[2016-10-06 06:49] eriksimonic commented on #72
@kjac

+1 problem

![image](https://cloud.githubusercontent.com/assets/10416737/19143067/c90503f0-8ba1-11e6-8c24-c36ca04671aa.png)

[2016-10-06 08:41] rocifier commented on #68
@kjac for solution one above... Would x amount of controls be implemented by naming the html form element name[0] using array names like that? Would they serialize into the class property as IEnumerable<Field> ?

[2016-10-06 10:14] kjac commented on #68
@rocifier I think that'd be entirely up to your custom field implementation; you are in charge of fetching and validating the submitted data in your implementation.

[2016-10-06 10:15] kjac commented on #72
@eriksimonic  I'll have a look at it. Looks like the field type is not being deserialized.

[2016-10-06 19:51] rocifier commented on #68
@kjac how so? From my experiments it only seems to inject array entries into CollectSubmittedValue and ValidateSubmittedValue if you have a public property with the same name as the form field

[2016-10-07 07:04] kjac commented on #68
@rocifier every value in the submitted form is sent to `Field.CollectSubmittedValue` in the `Dictionary<string, string> allSubmittedValues` parameter, so chances are you can find all your submitted values there, if your field generates several form fields in the markup.

If everything else fails, remember that you're always in context of a HTTP request when `Field.CollectSubmittedValue` is called.

[2016-10-07 07:35] #72 closed

[2016-10-07 09:02] kjac commented on #72
@eriksimonic The latest release (0.15.1.3) should fix the problem.

[2016-10-07 09:04] kjac commented on #71
The docs have been updated... I'm closing this now.

[2016-10-07 09:04] #71 closed

[2016-10-17 07:15] eriksimonic opened #73 "Can't enter more then one adders in recipient addresses!"
Hi this is urgent,
I can't enter more the one adders in the recipient address.

![image](https://cloud.githubusercontent.com/assets/10416737/19428375/0968d06a-944a-11e6-9ae1-71d78329f7b5.png)

![image](https://cloud.githubusercontent.com/assets/10416737/19428377/10bae38a-944a-11e6-9711-ffbf8c35a1d0.png)

[2016-10-17 13:08] kjac commented on #73
@eriksimonic Snap! That's annoying... looks like Angular doesn't like multiple email addresses in one email field. I'll look at it.

If you need a quick fix right here and now, you can edit `\app_plugins\formeditor\editor\form.html` and change the input with ID `emailNotificationRecipients` from `type="email"` to `type="text"` - it *should* work. Keep in mind that you'll need to update your client

[2016-10-18 06:25] #73 closed

[2016-10-18 06:31] kjac commented on #73
@eriksimonic fixed in v0.15.1.4.

Thanks for reporting 👍

[2016-10-18 14:01] eriksimonic commented on #73
@kjac  Thanks for express fix.

[2016-10-18 18:52] eriksimonic opened #75 "Error - FormEditor.SqlIndex.Storage.Index"
I have undocumented the FormEditor.config line to enable SQLIndex, I get this error.
Am I missing something? Is this not included in the Core?

Could not load custom Index type (requested content ID: 4610)
System.Configuration.ConfigurationErrorsException: Custom Index type "FormEditor.SqlIndex.Storage.Index, FormEditor.SqlIndex" could not be found
   at FormEditor.Configuration.Load()

[2016-10-18 18:59] eriksimonic commented on #75
@kjac
Definitly, I would add a note to the documentation section...

[2016-10-18 18:59] #75 closed

[2016-10-18 19:20] eriksimonic opened #76 "Feature reques."
Hi guess who brakes again :)
 how much time it would take to make all custom properties using the rewrite function like the body that you can insert {{propertyName}} to get its value.

Confirmation email -> Email subject
Notification email -> Email subject
Receipt -> heading
Receipt -> text

Wit this it would be possible to make more personalized responses and notifications.

An practical example.

[2016-10-19 06:07] kjac commented on #76
@eriksimonic Good idea 👍 - and it shouldn't take too long to add. I'll include this in the next version... won't be long until I'm ready to release it.

[2016-10-19 06:09] kjac commented on #75
Hey @eriksimonic,

It's in the docs already: https://github.com/kjac/FormEditor/blob/master/Docs/storage.md#changing-the-storage-index

But for clarity I'll add a note to FormEditor.config too :)

[2016-10-19 07:16] eriksimonic commented on #76
@kjac Yes as I am migrating from an SharePoint site we had a FormEditor very similar to this one.
And that was really great feature.

BTW.
It is possible to create a custom field with a content picker?
I would like to create a check box TOS/TOC agreement control..

[2016-10-19 07:21] eriksimonic commented on #76
@kjac

Another question regarding body of the email.
It would make sense to include basic formatting in the email body. So the editor can ascent some text or add links to it.. / Maybe MarkDown or simple html editor..  what do you think.
If it is not mainstream I will handle it in the template with a markdown processor.

Regards.

[2016-10-20 09:37] kjac commented on #76
@eriksimonic to address your last comment first: Since emails aren't necessarily HTML formatted, it won't make much sense to encourage the users to use markup in the body text. If you can solve your requirement in the template, that's cool :)

With regards to the content picker in a custom field. it should be quite possible to do - you can have a look at the [Link field type](https://github.com/kj

[2016-10-20 17:16] eriksimonic commented on #76
@kjac
Agree, I had in mind for a such control IE checkbox with a link to terms and conditions page, what a editor select it is really not may domain. as editors have to change those agreements based on the submission type, just a specific requirement.  I will check the new feature to se if everything works as expected. !

Regards.

[2016-10-20 18:25] eriksimonic opened #78 "Email template accessing filed labels"
Hi.

How can I access filed label in the template.
I can access Name, PreatyName but not the label as it is displayed on he frontend. Thanks.

[2016-10-20 18:32] eriksimonic commented on #78
Solved.

` var label = (FormEditor.Fields.FieldWithLabel)field;`

[2016-10-21 07:39] kjac commented on #78
@eriksimonic correct 😄

Remember though that not all value fields have labels (for example - the MemberInfo field does not). Consider something like this with a fallback to the field name:

[code]

[2016-10-21 07:39] #78 closed

[2016-10-21 07:40] kjac commented on #76
@eriksimonic thanks again for the feature suggestion 👍

[2016-10-21 07:40] #76 closed

[2016-10-22 09:26] BarryGibson opened #80 "Option to have number of submissions database driven"
Currently limiting the submissions per user is cookie based, however if the user clears their cookies or  uses another device they can submit again.
I know this is probably the best option for anonymous users however for known users (members) it would be useful to allow them to submit only once in a database driven fashion.

[2016-10-22 09:32] BarryGibson opened #81 "Feature: Additional option to reload users response when one submission per user is selected"
It would be good to be able to return the users current submission for them to edit as an option when Only one submission per user is selected.

Here is a screen shot of what I was thinking
![submissions](https://cloud.githubusercontent.com/assets/15335262/19618464/a7db9e76-9896-11e6-815a-b6b312b3033d.png)

[2016-10-23 06:33] kjac commented on #80
Hi @BarryGibson,

The cookie based solution is indeed the best solution I could come up with for anonymous users, and it's along the lines of how others handle it - for examle [Survey Monkey](http://help.surveymonkey.com/articles/en_US/kb/What-settings-allow-multiple-responses-from-one-computer).

I get where you're going with logged in members, but at least for the time being I don't see it imple

[2016-10-23 06:40] kjac commented on #81
Hey @BarryGibson,

There's no way of telling which submission was created by the current user, unless you have a `MemberInfo` field somewhere in the form. Thus I don't see this as a terribly mainstream requirement, sorry.

You can roll your own solution, though. If your storage index supports full text search (implements `IFullTextIndex` - the default one does), you can do a search into the index

[2016-10-23 08:04] BarryGibson opened #82 "Question: Is it possible to set the receipt page to an external url"
Hi,
Is it possible to set the receipt page to an external url?

Thanks

[2016-10-23 08:12] BarryGibson commented on #81
Thanks @kjac I have implemented my own solution at this stage. I agree it's not terribly mainstream, However I have a very member based solution, so am putting together a memberHelper to do this for my needs, and will share it once I have it working.
Also with the IFullTextIndex what is the standard for wildcards, I just want to make sure my implementation is compatible with the default one.

[2016-10-23 08:14] BarryGibson commented on #80
Thanks @kjac

[2016-10-23 08:52] kjac commented on #81
@BarryGibson sounds cool.

I wouldn't worry too much about wildcard handling. Right now the full text search is only ever used when searching the submissions from backend, so whatever you think makes sense in that respect will work just fine.

The default implementation uses leading wildcards and does not support trailing or mid-query ones.

[2016-10-23 08:56] kjac commented on #82
@BarryGibson Hey... nope. It's an Umbraco page ID :)

But you can do your own redirect handling after collecting the submitted values, if you set the `redirect` paramter to `false`:

[code]

...the method returns `true` if the form was submitted.

[2016-10-23 08:56] #82 closed

[2016-10-23 10:39] eriksimonic commented on #80
@kjac Hi I am intruding in a debate. Right now I had a scenario that we have to limit the submit to 1 but only for a specific time period (1h), I did roll may one solution with an AfterInset.. .but it may be more mainstream to include it in the form properties. What do you think? Regards.

[2016-10-24 05:47] kjac commented on #80
Hey @eriksimonic,

You're not intruding 😄 any and all input are welcome.

I think a provider based solution will work perfectly in your case as well. The benefit over using the events is that you can utilize the "Max submissions" title and text to give the end users a meaningful explanation, and it'll "just work" once you plug your own provider in.

I'll get to this soon, promise.

[2016-10-24 11:15] BarryGibson opened #85 "Question reload listing on async postback"
Hi @kjac,
I was hoping for a little advice, I have setup something similar to you recent rating tutorial, but want to refresh the listing following a submission. (my solution is a bit like a todo list) Also the users are allowed to submit multiple submissions, so I need clear the form so they can add a new record. Any tips or suggestion where to look would be greatly appreciated, I am new to angul

[2016-10-24 11:48] eriksimonic opened #86 "Attaching files does not work."
Hi I have this configuration, and I can confirm that the form editor does not attach the files to the notification email.

![image](https://cloud.githubusercontent.com/assets/10416737/19644475/4316d446-99f0-11e6-9681-efd6e92e44e0.png)

![image](https://cloud.githubusercontent.com/assets/10416737/19644471/3ef3b9f6-99f0-11e6-9f9e-13d689f2f757.png)

![image](https://cloud.githubusercontent.com/assets

[2016-10-24 12:20] kjac commented on #85
Hey @BarryGibson,

For security reasons there's no public endpoint that allows fetching submissions, so you'll have to write your own.

Then have a look at the Angular docs for $http to bind your view to your endpoint.

There should be plenty of docs for Form Editor on how to access the submissions serverside 😄

[2016-10-24 12:43] eriksimonic commented on #86
@kjac Maybe. . I will check! asap.
Thank you for super fast response.

[2016-10-25 09:08] eriksimonic commented on #86
@kjac
Hi I tracked down the error to this point that the ContentLaneght of the file is reseted to 0 after it is added to the index, I am using SQLIndex from your examples. I guess something went bananas here..
I will try to debug it..

[2016-10-28 15:57] Nicholas-Westby opened #87 "May I Use Your Storage Code?"
Hi Kenn,

I made Formulate, which is similar to your form editor. I noticed your form editor has support to store submissions: https://github.com/kjac/FormEditor/blob/master/Docs/storage.md

I am planning to add support for this to Formulate. My hope was that I can use some of your code to help speed up the process of adding support for storage of submissions. **Would that be OK with you?**

If so

[2016-10-30 19:19] kjac commented on #68
Closing this due to inactivity.

[2016-10-30 19:19] #68 closed

[2016-10-30 19:19] kjac commented on #69
Closing this due to inactivity.

[2016-10-30 19:19] #69 closed

[2016-10-30 19:24] kjac commented on #80
@BarryGibson @eriksimonic I published a new release with the provider based solution mentioned above - [read more here](https://github.com/kjac/FormEditor/blob/master/Docs/extend.md#custom-handling-of-submission-limitations).

You can replace the default handling with your own, either globally (by configuration) or per instance.

You should probably consider basing your own handling on the default

[2016-10-30 19:24] kjac commented on #81
@BarryGibson can this be closed now?

[2016-10-30 19:25] kjac commented on #85
@BarryGibson I'm closing this. I hope you got what you needed to progress on your implementation.

[2016-10-30 19:25] #85 closed

[2016-10-30 19:26] kjac commented on #86
@eriksimonic I will have a look at the sample SQL index as soon as I can find the time. Thanks for reporting it 👍

[2016-10-31 06:04] BarryGibson commented on #80
Thanks for your help @kjac

[2016-10-31 06:07] BarryGibson commented on #81
@kjac thanks yes closing it now. I have started on my implementation and will let you know once I have it in a sharable format.

[2016-10-31 06:07] #81 closed

[2016-10-31 06:16] kjac commented on #81
@BarryGibson nice, looking forward to that 👍

[2016-10-31 07:38] #86 closed

[2016-10-31 07:40] kjac commented on #86
@eriksimonic If you get the latest SQL index from the samples section, it should work.

I've patched FormModel too in an attempt to avoid similar issues with other custom indexes, but you don't need to be concerned about it - the changes to the SQL index should suffice.

[2016-11-02 11:27] BarryGibson opened #90 "Question: is FormEditor using jquery.validate?"
Hi @kjac,

Does FormEditor use Jquery.validate? I am getting some javascript errors caused by a unknown in jquery.validate, I have this on my master because some of my other stuff uses it and I think its putting its nose in where it shouldn't be. I can't see any reference to FormEditor using it so was going to do some refactoring so it wouldn't be referenced on the form pages but wanted to check i

[2016-11-02 19:16] kjac commented on #87
Hi @Nicholas-Westby,

Sure you can 😄  Form Editor is open source, and as long as you keep Formulate open source as well, I have no problem with that.

A link would of course be appreciated.

I'd also appreciate if you'd refrain from copying the form submission statistics. It's one of the things that set Form Editor apart, and I'd like to keep it that way. Of course I can't tell you not to copy it,

[2016-11-04 10:33] BarryGibson opened #91 "Dates not showing submitted value from saved record"
Hi,

When you re-display a form that has a date field it doesn't show the date.

To solve this, I have overidden the SubmittedValue in the DateField.cs file:
[code]

I'm not sure if this is your prefered approach, but I thought I would share my problem and solution.

[2016-11-04 11:37] alecrt commented on #39
Hi Kjac I would re-open this one because ASP.Net session state is not available (aka null) inside AfterAddToIndex event during async web api POST.
Any other ideas?

[2016-11-04 22:07] Nicholas-Westby commented on #87
Much appreciated! And will do, I'll keep my grubby hands off of the statistics features 😄

[2016-11-04 22:07] #87 closed

[2016-11-05 07:54] kjac commented on #91
Hey @BarryGibson,

Thank you for reporting and for the suggested fix.

It looks like there's an issue with async submission of dates - they append time/timezone info. It's an angular thing that's easily fixable, but before I fix it, I need to know one thing... how do the submitted dates look in your backend? Without your applied fix, that is.

[2016-11-05 08:00] BarryGibson commented on #91
Hi @kjac,

Here is an example:
2016-11-02T13:00:00.000Z

I think you are correct, because the ones collected through a different Sync version of the form don't include the time info.

Thanks

Barry

[2016-11-05 08:17] kjac commented on #91
Cool, apparently it's a feature in angularjs...

I'll have a fix ready soon, today hopefully.

On Nov 5, 2016 9:00 AM, "Barry Gibson" <notifications@github.com> wrote:

[2016-11-05 22:12] kjac commented on #90
Hey there, @BarryGibson.

No it shouldn't. The validation in `FormEditorSync.js` is based on the validation state of the input fields (`input.validity`).

I think the easiest way to figure out if it is Form Editor or not is to simply remove your reference to `FormEditorSync.js` and see if you still get the error?

[2016-11-06 11:25] #91 closed

[2016-11-06 11:26] kjac commented on #91
@BarryGibson it's fixed... I'll roll out a release soon.

[2016-11-06 20:38] BarryGibson commented on #90
Thanks @kjac,

I found the issue and it wasn't Form Editor, thanks for your help.

[2016-11-06 20:38] #90 closed

[2016-11-08 12:46] kjac commented on #39
@alecrt I think the best approach is to expose the ID of the submission in the response. As it's a guid, the security impact is non-existent so it should be ok.

I'll have a look at it soon.

[2016-11-08 18:42] alecrt commented on #39
Thank you Kenn!
You rocks!

Il giorno 08 nov 2016, alle ore 13:46, Kenn Jacobsen <notifications@github.com<mailto:notifications@github.com>> ha scritto:

@alecrt<https://github.com/alecrt> I think the best approach is to expose the ID of the submission in the response. As it's a guid, the security impact is non-existent so it should be ok.

I'll have a look at it soon.

-
You are receiving this be

[2016-11-09 14:02] kjac commented on #39
@alecrt you're welcome.

It's fixed now. I'll create a new release in the weekend.

[2016-11-14 06:32] kjac commented on #39
@alecrt It's released now in version 0.16.0.2

[2016-11-14 06:32] #39 closed

[2016-11-14 06:36] kjac commented on #80
Closing this - the feature is documented [here](https://github.com/kjac/FormEditor/blob/master/Docs/extend.md#custom-handling-of-submission-limitations).

[2016-11-14 06:36] #80 closed

[2016-11-15 07:52] eriksimonic opened #94 "SPAM prevention without reCAPTCHA. (Suggestion)"
Hi.

Just a suggestion.

We had a nice spam filtering mechanism in place on our former site. The spam protection worked like this.
on the form add 2x new hidden fields,

on post you need to validate the fields like that
first field should be empty
second field must be date time (is encrypted ) with at least 5seconds offset. With this method we complety blocked bot submissions.

Regards.

[2016-11-15 08:19] kjac commented on #94
@eriksimonic Thanks for the input. It's an interesting.

How did you fill in the second field on the client?

[2016-11-15 08:30] eriksimonic commented on #94
@kjac
It should be empty.. I am currently trying to create a custom field to do this thing.. but I would really need 2x fields.. not an array.

<input type="hidden" name="@(Model.FormSafeName)[]" value=" "/>

![image](https://cloud.githubusercontent.com/assets/10416737/20298403/04514f3e-ab16-11e6-9f5e-8629085a06bb.png)

for the Encrytion I do use MachineKey.Protect. .net 4+

[2016-11-16 06:57] kjac commented on #94
Hi @eriksimonic,

It should absolutely be doable to implement this as a custom field by implementing `IFieldWithValidation` - have a look at the ReCaptcha field implementation for inspiration.

In `CollectSubmittedValue` you'll get all the submitted form values passed as `allSubmittedValues`, so if your field always renders two hidden form fields (e.g. _prevent_sub_1 and _prevent_sub_2), you can l

[2016-11-16 07:24] eriksimonic commented on #94
@kjac
Great I will look at this.
You can close this if you think this is not needed in the core.

I can share the code when is done?

Regards.

[2016-11-21 07:41] kjac commented on #94
@eriksimonic Sure, I'd like to see the result. Maybe it makes sense to add it to the core :)

[2016-11-24 07:28] Nicholas-Westby opened #95 "Dispose of SmtpClient"
I noticed you are creating an SMTP client here: https://github.com/kjac/FormEditor/blob/0df7ac67fead06e04b77bbd3fd9dfdb1317102f7/Source/Solution/FormEditor/FormModel.cs#L700

Looks like you aren't creating it with a "using" statement, so it may not be disposed of in a timely manner. That can be lead to periodic email send failures.

This same issue existed in the Umbraco core. You can read about t

[2016-11-24 07:31] kjac commented on #95
Thanks @Nicholas-Westby 👍

I'll fix it asap. Of course you're more than welcome to submit a PR if you want to.

[2016-11-24 07:52] Nicholas-Westby commented on #95
Here you go: https://github.com/kjac/FormEditor/pull/96

[2016-11-24 08:42] kjac commented on #95
Cool. I'll prepare for a new release soon!

[2016-11-30 03:27] BarryGibson opened #97 "Feature Request: Duplicate Question"
It would be great to be able to duplicate a question and then change the text, this would be especially helpful when creating multiple question with the same options.

[2016-11-30 03:36] BarryGibson opened #98 "Feature request: Grid Question type for radiobutton / checkbox questions"
It would be great to have a grid question type for radio buttons and check boxes, this question type would allow multiple questions to be stored against the same set of options and would have the questions layed out in a grid, something like the image below:
![image](https://cloud.githubusercontent.com/assets/15335262/20738833/491fa7e6-b70a-11e6-8fad-31870f562a62.png)

[2016-11-30 07:45] kjac commented on #97
@BarryGibson when you say duplicate a question... do you mean duplicate a field? Or field options for multi value fields?

[2016-11-30 07:50] kjac commented on #98
@BarryGibson this kind of field should probably be built as a custom field.

I'm considering starting up a separate project for custom fields and other useful extensions, that can't be in the core... this field type could be meaningful to add there.

[2016-11-30 09:23] BarryGibson commented on #98
Hi @kjac I think that's a great idea, and I would be very happy to contribute to it. I am currently working on this field type. as well as a couple of others.

[2016-11-30 09:25] BarryGibson commented on #97
@kjac I meant duplicating a field.
However I have also been thinking about how to create a shared set of field options.

[2016-12-01 09:03] kjac commented on #97
@BarryGibson cool. I've been wanting to implement field duplication for some time, so I'll have a look at it.

[2016-12-02 10:11] kjac commented on #95
@Nicholas-Westby ...and it's released. Thanks again 👍

[2016-12-02 10:11] #95 closed

[2016-12-02 10:12] kjac commented on #97
@BarryGibson fixed by #99 and just released 😄

[2016-12-02 10:12] #97 closed

[2016-12-02 10:26] BarryGibson commented on #97
@kjac, Amazing thanks for the quick release 👍 😄

[2016-12-06 14:22] biapar opened #100 "Where are the data saved?"
Where are the data saved?

[2016-12-06 16:40] kjac commented on #100
Hey @biapar,

If you're using the default storage (read: if you haven't explicitly changed it), the data is stored in Lucene indexes per Umbraco node in `~/App_Data/FormEditor/[node ID]`.

Check [the docs](https://github.com/kjac/FormEditor/blob/master/Docs/storage.md) for more info ´.

[2016-12-07 17:56] alecrt commented on #23
Hi @kjac,

i'd like to discuss about this one more time because our customers are not completly satisfied with the "mailTo button" solution.

As you may have already understood our application is a modded Umbraco CMS which targets hospitality (hotel & B&B web sites). We use your form editor for booking requests when the hotel doesn't have any kind of channels manager or booking software/API.

They

[2016-12-08 08:36] kjac commented on #23
Hey @alecrt,

An event sounds like an excellent compromise here. I'll get working on it as soon as possible... shouldn't take long :)

I'll get back to you.

[2016-12-08 10:04] alecrt commented on #23
Super Kenn!
Thank you!

p.s. please take also a look at Chain of Responsibility Pattern. It would be a major refactor but coud bring a massive improve in extensibility.
Merchello has a very good implementation:
https://merchello.readme.io/docs/overview-2 -> Task Chains

[2016-12-08 10:17] kjac commented on #23
@alecrt check #101 - would that work for you?

Oh and thanks for the link.

[2016-12-08 10:32] alecrt commented on #23
Today I'm out of office but the code seems exactly what I as looking for.
Tomorrow I'll have a run!
Thanks

[2016-12-08 10:33] kjac commented on #23
@alecrt cool, let me know. If it works for you I'll create a new release.

[2016-12-09 10:42] alecrt commented on #23
Hi @kjac,

forked and checked: I've added IEnumerable<FieldWithValue> to FormEditorMailCancelEventArgs and renamed it to FormEditorMailEventArgs.

Is it a problem for you?

[2016-12-09 11:22] kjac commented on #23
Hey @alecrt,

The `sender` argument in the delegate is the ´FormModel`, and it has an `AllValueFields()` method you can use for that very purpose in your event handler.

The name change is OK, I guess, since the chances of an `AfterSendMail` event ever happening are slim to none.

[2016-12-09 12:39] alecrt commented on #23
Ooops, sorry Kenn, my fault.

So, the event is super fine, you can create a release when you want!

Cheers

[2016-12-09 13:49] #23 closed

[2016-12-09 14:00] kjac commented on #23
@alecrt the new release is out now :)

I opted to keep the delegate name as-is, to keep it in line with the other cancel delegate.

[2016-12-11 18:51] kjac commented on #100
Closing this now... @biapar feel free to reopen if you have any further questions.

[2016-12-11 18:51] #100 closed

[2016-12-17 15:09] biapar commented on #100
Why Do you save the data into Lucene indexes?

[2016-12-17 16:35] kjac commented on #100
@biapar because they support a wide range of advanced features that are hard to replicate with SQL - statistics among other things.

However, as you can read in [the documentation](https://github.com/kjac/FormEditor/blob/master/Docs/storage.md) you can swap the storage index, and there are samples available for storage indexes based on SQL and Elastic.

[2016-12-20 10:40] shakibmiraki opened #104 "Object reference not set to an instance of an object in NoScript.cshtml"
i created a form in my Home Document Type and put it in my layout page to render in every pages,
it works well on the home page but give me the "Object reference not set to an instance of an object" error in NoScript.cshtml
is this my wrong or an issue ?

[2016-12-20 11:06] kjac commented on #104
Hey. Could you please attach a screen shot so I can see what's causing the
null reference exception?

My first thought is that you may have named your form property something
else than "form". But try attaching a screen shot and I'll look at it as
soon as I'm able.

On Dec 20, 2016 11:40 AM, "shakibmiraki" <notifications@github.com> wrote:

[2016-12-20 11:14] shakibmiraki commented on #104
no i name it form, but this is the error on every page except home page that i created the form in this document type.
![capture](https://cloud.githubusercontent.com/assets/15976357/21348484/a1917aea-c6c2-11e6-93d1-9a5113fa658e.PNG)
![object reference not set to an instance of an object](https://cloud.githubusercontent.com/assets/15976357/21348483/a190c7c6-c6c2-11e6-9c89-3f33a40cbad8.png)

[2016-12-20 15:06] kjac commented on #104
Hi again. Thanks. I'll have a look in a couple of hours, looks like it's
easily fixable.

On Dec 20, 2016 12:14 PM, "shakibmiraki" <notifications@github.com> wrote:

[2016-12-20 18:03] kjac commented on #104
Hi @shakibmiraki,

It looks like Umbraco isn't initializing a `FormModel` instance when there's no form defined on the document type or content (e.g. on the child pages to your home page).

Could you please try changing [line 11](https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/Views/Partials/FormEditor/NoScript.cshtml#L11) in `/Views/Partials/FormEditor/NoScript.cshtml` to this:

`va

[2016-12-20 19:21] shakibmiraki commented on #104
Hi @kjac
after changing this line i get another error.
![object reference not set to an instance of an object](https://cloud.githubusercontent.com/assets/15976357/21364624/ddb055ac-c706-11e6-9f68-6da5b07d183d.png)

[2016-12-20 19:50] kjac commented on #104
@shakibmiraki excellent. At least I know where the problem lies then.

I think this is caused because you're calling the Form Editor partial (`NoScript.cshtml`) while rendering a page that does not contain a Form Editor property. You mentioned that you're calling it on every page, but that the Form Editor property is only on your Home page? You shouldn't call it unless you have a Form Editor prope

[2016-12-21 05:48] shakibmiraki commented on #104
yes @kjac  that works for me.
my fault.
thanks you.

[2016-12-21 05:49] #104 closed

[2016-12-21 06:43] kjac commented on #104
@shakibmiraki glad to hear that... and thank you for bringing the issue to my attention. I'll make sure the bundled views take this situation into account in the next (imminent) release.

[2017-01-11 19:24] kjac commented on #8
Implemented with #106 😄

[2017-01-11 19:24] #8 closed

[2017-01-24 15:43] ragivi opened #107 "Localize field names"
Hi,

I'm trying to localize field names with Umbraco Dictionary Items, but I'm not able to do it. Is this possible?

Regards.

[2017-01-26 11:44] kjac commented on #107
Hi @ragivi ,

You should be able to localize your field names by using the built-in localization in Form Editor.

Check these docs: https://github.com/kjac/FormEditor/blob/master/Docs/extend_field_simple.md#step-2-register-the-field

Basically you need to add your field name to the appropriate localization JS file under */App_Plugins/FormEditor/js/langs/*, using `composition.field.[field alias]` a

[2017-01-26 14:05] ragivi commented on #107
Hi @kjac ,

These docs show the case when you want to localize field type names or other configurations, but I want that the labels of the fields were localized, sorry if I hadn't explained well.

For example: I have a form with a field of textbox type with a label "Name". Then, I want that in the public web, the label "Name" appears localized in English ("Name") and in Spanish ("Nombre").

Thanks

[2017-01-28 02:30] BarryGibson opened #108 "Paging buttons on same row as submit button"
I would like the paging buttons to be able to be included with the Submit button, at the moment when you have a paged form the next and previous buttons are outside the editable form.
It would also be good to be able customise the labels of the next and previous buttons in the same spot.

[2017-01-30 23:58] BarryGibson opened #109 "Select box (drop-down) not displaying submitted value"
There is an issue where the Select box (drop-down) is not displaying the submitted value.
(At this stage I have only tested against Async forms however as the code is the same as the default value code I assume it works in all cases)
I have tracked this down and will put in a pull request for review.

[2017-01-31 06:06] kjac commented on #108
Hi @BarryGibson,

Paging has been a bit neglected on my part. And you're right, currently the only way of setting the paging button texts is by using the dictionary (which affects all forms).

I am pondering adding a dedicated tab for paging settings. Off the top of my head I'm thinking:
- Labels for paging buttons
- Options for paging button placement (top/bottom/both)

Any thoughts?

[2017-01-31 06:06] kjac commented on #109
@BarryGibson's PR will fix this issue in the next release.

[2017-01-31 06:18] BarryGibson commented on #108
Hi @kjac within forms I am using paging on I have been including a submit button on each page (Labeled "Save draft" on all but last page. in my case I would prefer to have the control buttons all in one line.
E.g.:
[Previous Page]  [Save Draft]  [Next Page]

I was considering making a custom submit button field type with an option to include next/previous buttons.

The other thing I was considerin

[2017-01-31 06:19] kjac commented on #107
Hey again, and sorry for the late reply.

I don't believe localization of field labels is a core feature. The officially recommended way of doing country specific sites in Umbraco is to have separate content trees, and thus you'd have separate forms (unless you're doing form reuse).

On top of that there's the matter of non-value fields (headings, text paragraphs etc). They don't have a field name

[2017-01-31 07:49] kjac commented on #108
@BarryGibson ok... I think your needs require us to go in a different direction (and postpone the paging tab for later).

I figure if I introduce an option to tell Form Editor *not* to render the paging buttons, you can add your own paging buttons below the form within your own template. It'd be in the same way as you tell Form Editor to fetch the form from another source, via `ViewBag` properties

[2017-01-31 15:17] ragivi commented on #107
Hi kjac!

Your solution is great! The code works perfectly. I know that the officially recommended way is have two separate nodes, but in one site it was a requirement to have only one node (I solved it with Vorto package).

Thanks a lot.

[2017-01-31 15:17] #107 closed

[2017-01-31 23:31] BarryGibson commented on #108
Thanks @kjac that sounds like a good temporary solution.

In relation to the next and previous labels, I think that they should be in the Editor settings as in most cases you would want them consistent across your site.

With regards to the header/footer, I agree that sometimes it should be in Umbraco content. However when using the form editor as a "Reusable form" it is helpful to have all the in

[2017-02-01 18:22] kjac commented on #108
@BarryGibson well... you can put the header/footer in your "reusable form" document alongside the form itself too 😄

If you already have the instance of `IPublishedContent` to put in `ViewBag.FormContent`, you can simply access the header/footer properties from that same instance before/after calling the Form Editor partial view.

Anyway... I'll add some more hooks for rendering, to allow for thos

[2017-02-01 18:41] #108 closed

[2017-02-02 06:09] kjac commented on #109
Deployed with release 0.17.1.1

[2017-02-02 06:09] #109 closed

[2017-02-24 13:34] GameMonkey opened #114 "Update from 0.13.2.1 to 0.17.1.1 and now our data is "gone""
So ive just updated this solution, and now my data entries are "gone", but think they are just not being displayed.

If i dig into the api controller it also just returns null as values, any idea why or how to fix it? This is not put into production yet still on the stage server.

We are running the SQL implementation (Yeah i know, we are not doing this on the newer solutions)

![screenshot_21](ht

[2017-02-24 13:35] rasmusfjord commented on #114
Ups wrong account i posted from, this is my issue not GameMonkey :) GameMonkey is a friend.

[2017-02-24 14:27] kjac commented on #114
@rasmusfjord Strange. I can't exactly put my finger on the problem. Off the top of my head I'm thinking...

1. Did you rebuild the SQL index with the corresponding version of FormEditor.Binaries (0.17.1.1)?
2. Are there any messages in the Umbraco log that might bring some clarity?

It none of the above lead you anywhere, try attaching a debugger to [this line](https://github.com/kjac/FormEditor/b

[2017-02-24 14:31] ralphvanvugt opened #115 "Form suddenly stops working "Object reference not set to an instance of an object""
One moment the form shows nicely, but a second later the following error appears:

Object reference not set to an instance of an object.

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Exception Details: System.NullReferenceException: Object refere

[2017-02-24 15:21] kjac commented on #115
Hey. What happens if you comment out line 142 in Async.cshtml?

Den 24. feb. 2017 3.32 PM skrev "Ralph van Vugt" <notifications@github.com>:

[2017-02-27 08:01] rasmusfjord commented on #114
Hey @kjac

I forgot about the sql index dll so i quickly rebuilded it against the new version, but it didnt change anything, check logs, nothing here, so i did a custom build just with a logger on the "Get" method you talked about and the data is good.

   LogHelper.Info<Index>(JsonConvert.SerializeObject(rows));

This is the data for the form and its all there just not being displayed.
https://gi

[2017-02-27 14:16] kjac commented on #114
@rasmusfjord might be. Or it might be something with an underscore prefix that was introduced a while back, but possibly never tested properly with the SQL index in an upgrade scenario.

I'll try to reproduce it as soon as I can.

[2017-02-27 18:52] kjac commented on #114
@rasmusfjord It's the underscore issue 😞

I've got at fix for it, but it'll be a day or two before I can test it thoroughly - then I'll release a new version.

[2017-02-28 08:03] rasmusfjord commented on #114
@kjac you are the man Kenn!

[2017-02-28 19:06] #114 closed

[2017-02-28 19:10] kjac commented on #114
@rasmusfjord the issue is fixed in the next release, but GitHub is being childish at the moment, so I can't publish the release just now... hopefully soon.

[2017-03-01 06:10] kjac commented on #114
@rasmusfjord There. Finally. It's released 😄 thanks for the issue report 👍

[2017-03-01 09:35] rasmusfjord commented on #114
@kjac Wow thank you Kenn for reacting so fast!

[2017-03-01 09:51] rasmusfjord commented on #114
and now it works again :)

[2017-03-01 09:54] kjac commented on #114
Awesome!

[2017-03-03 02:05] cpevans opened #116 "Reusable form - get ID of page actually submitted from, for Email template"
I may be doing something wrong, but here is my scenario.

I have a parent page with many children in Umbraco. Each child page wants to show the same form on it, so the form is defined on the parent page.

The child pages load in the form easily enough by doing this:

ViewBag.FormContent = Model.Content.Parent;

Submissions work fine, everything is ok except for one thing: in the Email that gets se

[2017-03-03 06:09] kjac commented on #116
@cpevans I'm happy to hear you've got it all working except that little bit. That's awesome 👍

You're not doing anything wrong. From a Form Editor perspective, what you're seeing makes sense. All Form Editor really cares about when handling submissions is where to store the submitted data.

That being said, there are several ways to achieve what you're trying to do. But first... are you using asyn

[2017-03-03 06:35] cpevans commented on #116
Thanks for the moral support!

Yes, I'm using async for this one.

[2017-03-03 14:41] kjac commented on #116
@cpevans ok. Async collects the submitted values out of the request context. In this case I'd consider implementing a custom field that keeps track of the originally requested content (the child page) and exposes this as its field value on the server side. You could do this by means of a hidden field in the form.

The downside of this solution is that the field has to be part of the form.

The ups

[2017-03-03 17:07] Alistair67 opened #117 "Destination email address for notification email"
Hi,

I'm sure this is more an issue with me that with your software - which is great btw.

I can't seem to work out where to specify a destination email address for the notification email to go to. Could you enlighten me?

Thanks, Alistair

[2017-03-03 18:03] kjac commented on #117
Hey @Alistair67,

I'm glad you like it 😄

The recipient settings are configured on the "Emails" tab on the form itself.

First make sure that the tab is enabled on the data type configuration, and that you have an email template selected - like this:

![image](https://cloud.githubusercontent.com/assets/7405322/23562692/cfa33314-0043-11e7-8d2c-84f0378eb341.png)

Then you can set up your recipient o

[2017-03-05 01:09] cpevans commented on #116
OK - this sounds good.  I've followed the documentation here:

https://github.com/kjac/FormEditor/blob/master/Docs/extend_field_simple.md

and created a custom hidden field and added it to my form.

This is my field partial:

[code]

I can see in the HTML source of my page that it renders properly, and the value contains the correct page name;

`<input type="hidden" id="_PageName" name="_PageName"

[2017-03-05 06:06] kjac commented on #116
You are pretty close! Good job :-)

It looks like a partial that'd work great for synchronous form submission.
But since you're using async it won't work.

I'll have to update my docs by the looks of it :-P

I'm out of town atm so I can't post a working version for async. I'll do it
tonight. Or if you have itchy fingers, you can try tweaking the partial
yourself using the async partial for the tex

[2017-03-05 07:25] cpevans commented on #116
is it to do with this on the wrapper div :

action-field="@Model.FormSafeName"

[2017-03-05 07:43] kjac commented on #116
I wish I could give you a definitive answer, but my network is so bad here
I can't even get github loading.

The easiest way I can think of to get things up and running is to clone the
textbox partial for async and:

- change the view model from Textbox to CustomField.

- change the input type from text to hidden.

- implement the field value initialization that sets the field value to the
name of

[2017-03-05 08:14] cpevans commented on #116
Hmm ok - done all those steps and still no dice, so hopefully you can take a look later on! Thanks so much for all your help and speedy responses  :)

[2017-03-05 19:39] kjac commented on #116
@cpevans Ah... Angular, glorious Angular. I think you'll need to push your field value to `formData` when your field is initialized. Otherwise it won't be added to the form data that's pushed to the server when the form is submitted.

This partial works for me (note the `ng-init`):

[code]

Of course, if you're ever going to use something similar for synchronous form postback, simply setting the f

[2017-03-06 06:13] cpevans commented on #116
@kjac success! thanks so much for your prompt and very helpful support. now on to the next great site :)

[2017-03-06 06:14] kjac commented on #116
@cpevans always happy to help :)

I'm glad you got it all working.

[2017-03-07 09:02] #116 closed

[2017-03-07 09:02] kjac commented on #117
@Alistair67 I'm closing this now - reopen if you're still having problems with this.

[2017-03-07 09:02] #117 closed

[2017-03-07 09:03] kjac commented on #115
@ralphvanvugt I'm closing this now. Reopen it if you're still having problems.

[2017-03-07 09:03] #115 closed

[2017-03-08 09:28] ralphvanvugt commented on #115
@kjac Sorry, I was on holidays. The fix worked.

[2017-03-09 11:55] rasmusfjord opened #118 "IE(customer reports other browsers aswell) issue with posting radio button form"
Hey there

So I got a wierd one, that I cannot figure out, we are running formeditor 0.18.0.2 with the SQL plugin. All is working.

The customer creates a form, nothing fancy, a radio button with 2 options and one is preselected, and the rest is just textboxes, an email and a phone field.

When i use the form in Chrome, it works fine, when i tried the form in IE, it also worked fine. Until i tried

[2017-03-09 18:24] kjac commented on #118
Hey @rasmusfjord!

This was addressed in #61 but you'll need to apply the fix manually for existing indexes.

Long story short - run this SQL against your database (please take a backup first):

[code]

Cheers!

[2017-03-10 09:19] Alistair67 commented on #117
Hi kjac,

Sorry for the tardy response - I'm only in once a week.

Thanks you very much for your help - I hadn't selected a notification email template which I presume is why the email tab wasn't appearing on the form even though I had it selected in the data type. As I predicted, more of an issue with me than your software! :)

Thanks, Alistair

[2017-03-10 10:36] kjac commented on #117
You're welcome :) glad you got it to work.

[2017-03-13 07:12] rasmusfjord commented on #118
maaan you rock ! Thanks alot, worked like a charm!

👍 👍 👍

[2017-03-13 07:12] #118 closed

[2017-03-13 10:33] kjac commented on #118
@rasmusfjord cool 👍

[2017-03-31 12:39] RPanc opened #121 "Validation not fired while submit the Form."
Hello,
I have installed latest version of form editor in umbraco site.
I want to reuse the form that's why i use Following code.
`@{
var formContent = CRMHelper.GetNodeById(Convert.ToInt32(slides[i].id));
ViewBag.FormContent = formContent;
}
@Html.Partial("FormEditor/NoScript", Umbraco.AssignedContentItem)`

Validation doesn't fired when click on submit button.
[here its working Fine](http://beta-

[2017-03-31 13:20] kjac commented on #121
Hi Ronak. I'll have a look at it this weekend, hopefully tomorrow.

Den 31. mar. 2017 2.40 PM skrev "RPanc" <notifications@github.com>:

[2017-04-01 10:49] kjac commented on #121
Hey @RPanc,

It looks like your site JS overrules the native form validation - possibly an issue with Angular. If I turn off JS on the site, the native form validation is triggered.

Since you've already got Angular in play, maybe you should consider using the [async rendereing](https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/Views/Partials/FormEditor/Async.cshtml)?

[2017-04-04 07:00] RPanc commented on #121
Hello @kjac ,
I need to reuse the form in umbraco grid.
for that i just crated one grid editor named form picker.
after that i just render form as below.
`@using System.Web.Mvc.Html
@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    var slides = Model.value.spots;
    int total = slides.Count;
}

@for (int i = 0; i < Convert.ToInt32(slides.Count); i++)
{
    var formContent = CRMHelper.GetN

[2017-04-04 11:12] kjac commented on #121
It looks like the form renders just fine, and I'm guessing it saves valid form submissions as well, so you're not really missing anything. You just need to figure out what's overruling the native (HTML5) form validation... or use another rendering method, for example the async one as I mentioned above.

You might also want to have a look at [this tutorial](https://github.com/kjac/FormEditor/blob/m

[2017-04-04 11:20] RPanc commented on #121
yes I solved that.
One more thing unable to upload multiple files and send that files to Email.
Thanks,
Ronak Panchal.

[2017-04-04 12:09] rasmusfjord opened #122 "ÆØÅ in "name" breaks form"
Hey there

We have a large form with FormEditor but we are seeing some wierd bug, i dont know if it is focused around ÆØÅ in the name/alias of a field.

The error is :
![pasted image at 2017_04_04 01_36 pm](https://cloud.githubusercontent.com/assets/1286043/24655821/1a192e3e-1940-11e7-8a88-df87c0b2113b.png)

The field that it fails at looks like this:
![pasted image at 2017_04_04 01_44 pm](https:/

[2017-04-04 13:18] rasmusfjord commented on #122
Their might still be something with øæå but we found something else with ng-show that one of our angular gurus fixed for us.

when you validate you use the css class hide/show but if your(read our) markup dosnt have any handling for the 2 css classes, it will not work. But if you instead use ng-show it would swap the hide/show classes and it would work.

[2017-04-04 14:03] kjac commented on #121
Hi @RPanc,

The built-in upload field doesn't support multiple files. If you need multiple file uploads, you'll either need to add multiple upload fields or alternatively create your own field type to handle it.

[2017-04-04 14:07] kjac commented on #122
Hey @rasmusfjord,

The field aliases aren't supposed to be able to have ÆØÅ in them... clearly something's wrong with the regex'es that should prevent this, as you can see the lower cased "æ" is removed but not the upper cased "Å". I'll have a look at that.

With regard to the hide/show part, FormEditor was created to play nice with the bootstrap CSS out of the box. I agree, ng-show or ng-if would

[2017-04-05 07:57] rasmusfjord commented on #122
As always Kenn you rock and keep up the good work.

Yeah one would argue that the bootstrap everything era is ending so its properly a good idea to go for a more pure appoarch where its just shown/not shown with angular.

Say if you need testers, Alt. you could lean up against the umbraco doctype alias namer where it also locks the field, because our backoffice editors(customers) are a bit confuse

[2017-04-05 17:38] kjac opened #123 "Make field validation errors show/hide with ng-show"
Right now the async field rendering uses a custom (bootstrap) CSS class to show/hide the field errors. This should be changed to use pure Angular style (ng-show).

[2017-04-05 17:40] kjac commented on #122
@rasmusfjord thanks.

I've replicated the issue - it only happens if you have special characters in the very beginning of the field name, that's why I haven't caught it before. I'll submit a fix for it soon, but if it's not urgent for you then I'll hold off the next release until I've verified everything with the Umbraco 7.6 RC.

Also I've moved your other comment about ng-show/hide to #123 and wi

[2017-04-05 17:51] #122 closed

[2017-04-05 17:51] #123 closed

[2017-04-09 00:08] bobi33 opened #124 "Question re captcha"
How exactly do I add recaptcha to formeditor? I'm a bit confused re the explanation here: https://github.com/kjac/FormEditor/blob/102a566dbf64e8570be9f6e3162117371afc7d0c/Docs/fields.md#the-recaptcha-field

Which .config file does this go into exactly? And once it's in there, will the new field automatically be created? #

[2017-04-09 00:46] bobi33 commented on #124
Nvm, you add it to web.config for project.

[2017-04-09 00:46] #124 closed

[2017-04-09 01:31] bobi33 opened #125 "Lucene index storage"
Hi, if form submissions (including uploaded files) are stored in a Lucene index under /App_Data/FormEditor, and if my website has a site-wide search using examine, would any form submissions be searchable by the public using the website?

[2017-04-09 01:36] bobi33 opened #126 "File upload doesn't work"
I've set the file upload to allow 1mb of data and PNG, but for some reason on form submit I constantly get an error message re the file upload...I'm not sure why this is happening.

[2017-04-09 06:25] kjac commented on #121
I'm closing this now, feel free to reopen if the issue hasn't been resolved.

[2017-04-09 06:25] #121 closed

[2017-04-09 06:26] kjac commented on #125
Hey @bobi33,

Don't worry, they won't. Examine only searches the indexes you explicitly specify in the Examine configuration.

[2017-04-09 06:31] kjac commented on #126
Hi @bobi33,

Thanks for reporting. I can recreate the issue... I'll look into it and fix it in the upcoming release (should be imminent).

[2017-04-09 20:56] bobi33 commented on #126
Hi @kjac, thanks for the response :)

I figured out what was happening...file size wasn't too accurate. I'll close this one, but keep an eye out because I thought I set it correctly...although it was quite late in the day, so perhaps it was my eyes.

Thanks.

[2017-04-09 20:57] bobi33 commented on #125
Ok, so since I haven't specified formeditor, then it won't...

Thanks @kjac  :)

[2017-04-09 20:57] #125 closed

[2017-04-09 21:28] bobi33 opened #127 "Error message styling"
Hi again @kjac, I can't seem to figure out the styling of the error messages. I would like the error messages to appears similar to: https://htmlstream.com/preview/unify-v1.9.8/page_contact1.html. If you click the submit button on the aforementioned link, you'll notice the different style of font colour (I'm trying to replicate, but don't know where to locate the styling for error messages).

Also

[2017-04-10 01:23] bobi33 opened #128 "Email notifications"
Hi again, I think I may not fully grasp the email notifications. I've added a sender and recipient email address to the notification section of the form content type in the back end (ie. when the form is submitted an email is sent to an email address). However, emails aren't sending when the form is submitted. I'm wondering whether I missed something (I've just added the email address that the not

[2017-04-10 09:55] kjac commented on #126
Hi @bobi33,

The issue is very real. The problem (or at least one of them) is that when you configure the upload field, you're asked to enter the max size in kilobytes... but when the upload field validates the uploaded file, it believes this max size is entered in bytes. I've got that fixed, and will re-test the issue as soon as I can.

[2017-04-10 09:58] kjac commented on #128
Hi @bobi33,

Did you configure the `<mailSettings/>` in web.config correctly?

Also, try checking the log files (\App_Data\Logs) for any clues as to what might be going on.

[2017-04-10 12:58] kjac commented on #127
You'll have to add your own styling to handle this. Which CSS classes you need greatly depends on what rendering you're using (Sync, Async etc).

The best way to figure out which styles you need to add, is by inspecting a form with validation errors and having a look at the classes that are added for the invalid fields.

Keep in mind that for some renderings, the classes might be added to a contai

[2017-04-10 15:43] tmrcs opened #129 "500 internal server error after attepting to install"
Hi,

After trying to install  your package via nuget, my solution has crashed.

When attempting to install  I got he error: "Package 'Microsoft.AspNet.Identity.Core.2.2.1' does not exist in project", and the install rolledback but it left me without access to the website.

Any ideas why this could be?

I did attempt to install on a Umbraco 7.5.X solution, I thought that by 7.3+ you meant it was co

[2017-04-10 18:07] kjac commented on #129
Hi @tmrcs,

Form Editor is indeed compatible with 7.5.x - also when installed via nuget. Did you install Umbraco via nuget too?

The nuget package has a dependency on [UmbracoCms.Core](https://www.nuget.org/packages/UmbracoCms.Core/), which in turn has a dependency that ultimately leads to Microsoft.AspNet.Identity.Core. By the sound of things, you might have unintentionally triggered an installat

[2017-04-10 18:14] #126 closed

[2017-04-10 18:14] kjac commented on #126
There... the fix will be in the next release, which should be pretty imminent.

[2017-04-10 18:53] tmrcs commented on #129
Hi @kjac,
We have Umbraco running on our dev server and I do not think it was installed via nuget, rather manually.

I managed to get it working by restoring the package.config, in the stress i did not keep a copy of the one which ahd the problem, so I can not say what the problem was.

Thanks anyways for your help i @kjac !!

[2017-04-10 18:54] tmrcs commented on #129
\

[2017-04-10 18:54] #129 closed

[2017-04-10 19:25] kjac commented on #129
Hey @tmrcs,

I'm glad to hear you got it running again.

FYI: Each release on Github contains an Umbraco package you can install within Umbraco, so you don't have to use nuget if you prefer installing via Umbraco.

[2017-04-10 20:55] tmrcs commented on #129
Thanks @kjac! will attempt the install with the binaries tomorrow!

[2017-04-10 21:27] bobi33 commented on #127
Thanks @kjac! I am using Async (it was the first one I chose haha). I should see the class, and then I'll have to find the corresponding css file, which I'm assuming is somewhere in app_plugins :)

[2017-04-10 23:24] bobi33 commented on #128
Hi @kjac,

Yup. I'm using a simple gmail email address to make things simple.

I'll outline what I've done, in case I am missing something:

Yup,
1. I configured the mailSettings in web.config:

2. I configured the form "Emails" tab to have a notification email:

I included the same recipient email address as the sender's email address - as the above-noted address in mailSettings, email@gmail.com.

[2017-04-11 08:06] kjac commented on #127
Hi @bobi33,

There's no CSS file for frontend bundled with Form Editor. You need to use your own styling, so you should simply just extend your current site CSS :)

With the Async rendering you'll probably need to style on the ng-* classes that are appended to the input fields by Angular (e.g. ng-invalid).

[2017-04-11 09:39] kjac commented on #128
Hi @bobi33,

That looks fine, if Google indeed does support it. In the past I recall having trouble using the same gmail address as sender AND recipient.

The best way to test if the emails are indeed being sent by Form Editor is to write the outgoing emails to a folder on your disk instead of sending them to an SMTP server. Check [this article](https://msdn.microsoft.com/en-us/library/ms164241(v=

[2017-04-12 08:25] tmrcs opened #130 "Blank back office post installlation of the package via back office"
Hi,

After installing the FormEditor package via the back office, I can no longer access the back office (blank page). I get the following error: 'Error: Argument 'Umbraco.MainController' is not a function, got undefined' in the dev tools.

I tried removing the App_Plugin folder where the manifest is defined but no luck, still get the same error.

Thanks

[2017-04-12 09:47] kjac commented on #130
Hey @tmrcs,

That sounds really weird. Which version of Umbraco?

[2017-04-12 13:55] tmrcs commented on #130
@kjac

Umbraco 7.5.11

[2017-04-12 14:34] kjac commented on #130
@tmrcs Strange. I just tried installing the Umbraco package from the latest release ("Form.Editor_0.18.1.1.zip") in a brand new Umbraco 7.5.11 site and also a brand new Umbraco 7.5.13 (latest release) site with no problems at all.

Screenshot from after installing in 7.5.11:

![form editor package install](https://cloud.githubusercontent.com/assets/7405322/24962845/5929375a-1f9d-11e7-912f-72a24f10

[2017-04-24 17:47] bobi33 commented on #127
Hi @kjac, I just noticed that the reCAPTCHA error notification does not pop up (using async). I've included the error message in the content section, but it does not show up when a user tries to submit the form without completing the reCAPTCHA...it just won't submit the form without the reCAPTCHA being completed but does not give any errors.

[2017-05-02 21:14] bobi33 opened #132 "reCAPTCHA error not showing up"
Hi,

I've noticed that the reCAPTCHA error message doesn't show up.

[2017-05-03 18:57] kjac commented on #132
Hi @bobi33,

I'll have a look at it when I can. Bit swamped at the moment.

However, I'm not sure the error message can actually show up in the async rendering. It's mostly meant for server side validation only, in case people cheat their way around the reCAPTCHA on the client side.

[2017-05-03 18:57] kjac commented on #132
Note: See #127 for more info

[2017-05-03 18:58] kjac commented on #127
@bobi33 I'm closing this now. The reCAPTCHA issue will be tested in #132 as soon as possible.

[2017-05-03 18:58] #127 closed

[2017-05-03 18:58] kjac commented on #128
@bobi33 closing this now. Hope you got it working.

[2017-05-03 18:58] #128 closed

[2017-05-03 18:59] kjac commented on #130
@tmrcs I'm closing this now.

[2017-05-03 18:59] #130 closed

[2017-05-04 17:19] bobi33 commented on #132
Sorry for reposting a similar question...I somehow totally lost track of that other issue.

Also, I thought async was better for security purposes, but I didn't realize how finicky it was :s

[2017-05-18 08:18] rpjengaard opened #133 "Problem with dropdown values if they contains a comma (,)"
Hi Kenn,

first of all thanks for this great package :-).

I have found a bug regarding dropdown-lists (or maybe all values containing comma?). If i create a value in a dropdown-list containing a comma (,), i can not submit the form. I get this in return

`{"invalidFields":[{"name":"Rulleboks","formSafeName":"_Rulleboks","submittedValue":"Lyd og, collage – din nye ven","invalid":true}],"failedVali

[2017-05-20 07:51] kjac commented on #133
Hey @rpjengaard,

Looks like the submitted value with the comma isn't properly encoded. I'll see what can be done about it.

Thanks for reporting this!

[2017-05-21 13:09] kjac commented on #132
Hey @bobi33,

Async isn't any security improvement :) it's just a UX one, or at least that's what some would argue.

I've fixed the problem but I'm in the process of rewriting the whole reCAPTCHA bit to support the new "invisible reCAPTCHA". I'll release this fix as part of that - I hope you can wait a bit longer.

-Kenn

[2017-05-21 19:48] kjac commented on #133
So I dug into this, and it's not encoding. The problem is that all the multi value fields share the same code, whether they allow multiple values selected or not. And multiple values are the culprit here, because they're submitted as comma separated lists of values. So when one of the values contains a comma... you guessed it; the parsing on the server side goes haywire.

I'm going to ponder this

[2017-05-27 11:19] #133 closed

[2017-05-29 09:30] kjac commented on #132
@bobi33 it should be fixed in the latest release :)

[2017-05-29 09:30] #132 closed

[2017-06-07 11:45] ralphvanvugt opened #135 "Safari: cannot enter any field if safari autocomplete is active"
Strange thing happens on Safari 10.1.1 and the lastest version of OS X. If Safari autocomplete is active, none of the fields can be filled in. I don't know if this is a bug or an unfortunate Safari feature.

![image](https://user-images.githubusercontent.com/2463054/26876646-7772de12-4b87-11e7-9cf9-928e1e4ebead.png)

[2017-06-07 12:01] kjac commented on #135
@ralphvanvugt I'm pretty sure FormEditor doesn't do anything to prevent focus loss. It's probably a Safari "feature". Are there any console errors?

[2017-06-09 10:12] Alistair67 opened #136 "Using reCaptcha on multisite installation"
Hi,

I have two different sites running on one Umbraco installation and I want to use formEditor on both sites and want to have reCaptcha on both forms. However, if I have to set the Site and Secret keys in web.config appSettings then as far as I can see, it will be wrong for one of the sites.

Is there some way of setting the appSettings dependent on which site you're on?

Cheers, Alistair

[2017-06-09 10:22] kjac commented on #136
That's a pretty good point. I'll create a fix for it as soon as I can,
hopefully this weekend.

Thanks for reporting it ☺️

Den 9. jun. 2017 12.12 PM skrev "Alistair67" <notifications@github.com>:

[2017-06-09 10:37] Alistair67 commented on #136
Wonderful. Thanks for the speedy response.

[2017-06-09 11:33] kjac commented on #136
@Alistair67 you know you can use the same key set on multiple domains, right?

![image](https://user-images.githubusercontent.com/7405322/26973774-3e4f15e6-4d18-11e7-9809-2308ffbfd480.png)

[2017-06-09 15:22] Alistair67 commented on #136
No, I didn't know that. First time using reCaptcha but shoudl have spotted that. Just went ahead and registered the new site without realising I could add it in to an existing key. Sorry to bother you.

Thanks, Alistair

[2017-06-09 16:02] kjac commented on #136
Ah well good, problem solved for now then ☺️

Den 9. jun. 2017 5.22 PM skrev "Alistair67" <notifications@github.com>:

[2017-06-11 15:02] #136 closed

[2017-06-13 08:41] kjac commented on #135
@ralphvanvugt I'm closing this now. If you think it's Form Editor related, feel free to reopen.

[2017-06-13 08:41] #135 closed

[2017-07-07 13:10] ralphvanvugt opened #138 "Approve submissions"
Question / Feature request. I've created a page in which the entries are visible after submitting them using the GetSubmittedValues() method. Works great!

Would it be possible to have the admin approve the post before it becomes visible on the website?

[2017-07-08 11:09] kjac commented on #138
Hi @ralphvanvugt,

I've considered implementing an approval system in Form Editor multiple times, but it's not really on the drawing board right now. While there are some obvious use cases for it, you're actually the first to request it, which must mean it's not something people actually need. I'm not saying I won't ever do it - heck I feel tempted to start working on it now - but well... not maki

[2017-07-10 08:11] kjac commented on #138
@ralphvanvugt ok so I couldn't help myself. I've started the implementation of an approval system. Here's a preview of how it'll work:

![form editor submission approval preview](https://user-images.githubusercontent.com/7405322/28008505-1b1b451a-6558-11e7-9344-0fc6f301619c.gif)

There's no deadline right now, but with some luck I'll find time to get it done before my vacation starts next week.

[2017-07-10 12:36] ralphvanvugt commented on #138
@kjac Wow! That looks awesome! Thanks!

Didn't want to put you up with the extra work just before your vacation though ;-)

[2017-07-14 07:02] kjac commented on #138
@ralphvanvugt it's ready 😄

Check the latest release (1.2.0.1).

[2017-07-14 07:02] #138 closed

[2017-07-14 12:58] ralphvanvugt commented on #138
Wow! Briljant! Thanks a lot!

[2017-08-03 07:10] BarryGibson opened #141 "Feature Request: Signature Field"
I would like to have an signature field that saves the signature that the user "draws" as an image.
I am thinking of implementing this using [Signature_Pad](https://github.com/szimek/signature_pad/) and am interested if this is a feature that would be useful in the base product or if you have thought about an area for optional fields

[2017-08-05 03:57] Deano004 opened #142 "Issue accessing submitted values in back office"
Hello @kjac ,
I'm new to Github and new to FormBuilder. I'm very sorry if this is the wrong place to be submitting this but it is the only way I could work out how to contact you.

Firstly thank you for creating an awesome package. It is the best form builder I've used!

Unfortunately I'm having an issue and I don't know how to fix it and I'm under quite some pressure to get this feature completed

[2017-08-05 04:31] kjac commented on #142
Hi @Deano004,

Welcome to Form Editor, I'm glad you like.

I'll put together a site with your configuruation to make sure there's nothing wrong with the backoffice. However, it will be a few hours 'till I get the time.

Question: You write "the frontend website". Do you have multiple IIS sites in play here? If your backoffice site is in a different site, the default Lucene based storage provider w

[2017-08-05 04:40] Deano004 commented on #142
Hi Kenn,

Thanks for getting back so quickly.

My backoffice and front end site are one and the same IIS website. Sorry, probably my bad terminology.

I'm in development at the moment, so this is hosted on a local iis7 installation.

It really is a very basic set up at this stage.

I installed umbraco via nuget as per the umbraco instructions. I then installed FormBuilder via nuget into the same p

[2017-08-05 05:16] Deano004 commented on #142
Hi Kenn,

FYI: As a test I moved the exact code I have currently in my api controller that my dialogue window talks with whist in the context of the umbraco back office. I moved the code so that it is inline in the razor code for my form page template.

Running the code there, I do get form submissions to work with when I browse to a form page.

My end game is a custom export of the form submissio

[2017-08-05 05:26] kjac commented on #142
Hey @Deano004,

I've installed a local 7.6.4 site with Form Editor 1.2.0.1. Using the default *NoScript* template (simplest possible template) it all seems to work fine:

![issue142](https://user-images.githubusercontent.com/7405322/28993138-29cea672-79af-11e7-868c-01c4de18aedc.gif)

Do you have any console errors in the backoffice?

[2017-08-05 06:12] Deano004 commented on #142
Hi Kenn,

I've been using the Sync method. But, I swapped over to the NoScript template to mimic your test.

I created  new form with just a textbox and submit button.

The form submits, I get the success message. Everything appears as yours does. I also removed everything from my page so that it looks just like yours. No extra scripts.

I can see the new folder created for the index.

Still no su

[2017-08-05 06:57] kjac commented on #142
Strange strange. I'm using Chrome too, so that should work just fine.

I've zipped the solution I'm testing with; if you want, you can download it [here](https://we.tl/qwciYCdpD4) and see if it works for you (it uses a local SqlCE DB so just hit Ctrl+F5 and it'll start up). If it does work for you, your problem is somewhere in your current codebase. If it doesn't, the problem is somewhere on your

[2017-08-05 07:01] Deano004 commented on #142
Thanks Kenn,

I'll do that now and let you know how I get on.

I can't say how much I appreciate you taking the time to help out!

[2017-08-05 07:07] kjac commented on #142
I'm happy to help ☺️

Den 5. aug. 2017 9.01 AM skrev "Deano004" <notifications@github.com>:

[2017-08-05 07:27] Deano004 commented on #142
Yep, so that worked perfectly!

Umbraco is supplying my views with a model via this:
@inherits UmbracoTemplatePage<SurveyPage>

and I have the ModelsBuilder mode set to LiveAppData

So, when I render the form my Partial view looks like this: @Html.Partial("FormEditor/NoScript", Model.Content)

The form property alias is still "form".

Do you think that could be causing the issue? The form renders

[2017-08-05 07:28] Deano004 commented on #142
Comment form stripped some code
`@inherits UmbracoTemplatePage<SurveyPage>`

[2017-08-05 08:04] kjac commented on #142
As long as the form renders and you can pull the submitted data from it (in frontend), things are working.

I'm getting a feeling you've somehow managed to override the route for Form Editor's backoffice API controller - the one that's responsible for serving submitted data to the backoffice.

Check the network tab in the developer tools, pick XHR and search for "formeditor". You should see a requ

[2017-08-05 08:18] Deano004 commented on #142
That's fantastic Kenn, progress. I feel like there is hope for me yet...

This is the response I get for that request:

)]}',
null

This has been like this since the beginning though before I did anything with regards to the backoffice.
Where should I be looking for the route that I have broken?

My site has only one page. One with a form on it.

I have got my own global.ascx file though, maybe th

[2017-08-05 08:56] kjac commented on #142
The only thing that can theoretically break the route is if you have an api
controller that responds on the same URL as the form editor one. But your
site should blow up if you do, so let's rule that out.

Your custom application can't be causing this either.

Out of curiosity... Did you try to create a new page and find it having the
same problem?

Den 5. aug. 2017 10.18 AM skrev "Dean Stanton" <

[2017-08-05 09:06] Deano004 commented on #142
I have created many pages of different names, but none can see any submitted form data. They've all been the same doc type though. I could try creating a new one of a different name if you think that would shed some light?

I really haven't done much with solution at all, it is just a proof of concept so I've got no controllers for the front end. No surface controls, or normal controls. My page is

[2017-08-05 09:11] kjac commented on #142
That was my next suggestion.

Create a new doctype called FormEditor. Add only the "form" property to it.
Use the template from my sample project (FormEditor.cshtml). See if that
works?

Den 5. aug. 2017 11.07 AM skrev "Dean Stanton" <notifications@github.com>:

[2017-08-05 09:12] Deano004 commented on #142
Will do.

[2017-08-05 09:31] Deano004 commented on #142
That worked!

[2017-08-05 09:38] Deano004 commented on #142
My doc type is called: Survey Page
It inherits some text properties from a parent doc type. Just meta tag stuff.
The "form" property is stored on a composition doc type that just has the FormEditor datatype on it.

My template is called: Survey Page

I'm going to strip out everything from my template, (the only slightly different thing is the script reference to the bundles for the javascript) and

[2017-08-05 09:42] kjac commented on #142
Oooh...... therein lies the problem. I'm pretty sure it won't work if the form is on a composition. Try moving the property to the actual document type?

[2017-08-05 10:11] Deano004 commented on #142
That's it :-) I am one happy chappy!

I have reinstated all my template code and it still works.

Thanks so much for taking the time to help. I wouldn't have thought to do that.

When you are way down south in New Zealand I'll definitely shout you a beer! Just hit me up.

Many thanks Kenn
Dean

[2017-08-05 10:18] kjac commented on #142
Awesome :) glad to hear it.

I'll update the docs to specifically discourage using compositions, hopefully no-one else will run into this.

Good luck on your presentation!

[2017-08-05 12:14] kjac commented on #142
Docs updated, I'm closing this issue now.

[2017-08-05 12:14] #142 closed

[2017-08-07 07:30] kjac commented on #141
Hi @BarryGibson,

That's pretty cool. I'm sure it'd be a useful field for others. However I can't really add it to the core since it has an external script dependency.

At the moment I'm not going to start up a new GitHub project for 3rd party field types. I simply haven't got the time to maintain it.

Thanks for offering though, it's really awesome of you.

[2017-08-14 13:31] kristoffer-tvera opened #143 "Feature request: Regex input validation"
Would this be possible? Thank you.

[2017-08-14 13:49] kjac commented on #143
Hi @kristoffer-tvera,

I'm not sure what you're asking here... but if you mean adding regex validation to the built-in form fields, the answer is no. Editors don't understand regex.

You should consider creating custom field types for your regex needs. It's super simple to create fields, and editors are way better at using them. Check out [the docs](https://github.com/kjac/FormEditor/blob/master/D

[2017-08-14 14:42] kristoffer-tvera commented on #143
After reading the documentation, I can see how the feature I want would be implemented.  I was just expecting to see regex as a possibility in the content-ui, like how the default Umbraco-ui when making document types, has a bottom field of validation through regex

[2017-08-14 18:27] kjac commented on #143
Cool. I hope you get to build something awesome :)

I'll close this now, feel free to reopen if it shouldn't have been.

[2017-08-14 18:27] #143 closed

[2017-09-03 14:05] mikaelekstrom opened #145 "Cant find where to configure email to address"
I just installed Form Editior on my Umbraco 7.6.4 version and have configured everything accordingly. But i want there to be a notification sent to an editor when someone fills in the form, but i cant find anywhere to configure that?

EDIT:
Just realized that the email tab is missing for some reason, any ideas on how to fix this?

KR
Mikael

[2017-09-04 05:03] kjac commented on #145
Hi @mikaelekstrom,

You'll need to configure email templates for notification and/or confirmation to make the tab appear in the editor.

See the [installation guide](https://github.com/kjac/FormEditor/blob/master/Docs/install.md#email-templates) or [this tutorial](https://github.com/kjac/FormEditor/blob/master/Tutorials/Receipts.md#the-receipt-email) for more info :)

[2017-09-04 12:56] mikaelekstrom commented on #145
I have configured it for the notification using the standard template that comes with it. But no menu option appears.

[2017-09-04 17:17] kjac commented on #145
It should "just work" once you have selected an email template in the data
type configuration.

You haven't by any chance disabled the emails tab under "Tab order and
availability" within the datatype configuration?

Den 4. sep. 2017 2.56 PM skrev "mikaelekstrom" <notifications@github.com>:

[2017-09-05 06:58] mikaelekstrom commented on #145
Cant see that I am missing anything?

![image](https://user-images.githubusercontent.com/28589973/30048843-5c7aac7a-9218-11e7-8236-3588ddb17aec.png)

[2017-09-05 07:23] kjac commented on #145
@mikaelekstrom looks about right. And the "Emails" tab isn't showing in the form editor?

I've just set up a 7.6.5 site with Form Editor 1.2.1, and it works fine on my end:

*Data type config*
![image](https://user-images.githubusercontent.com/7405322/30049634-b2f4774a-921b-11e7-90ae-15431b5f48fe.png)

*Content*
![image](https://user-images.githubusercontent.com/7405322/30049689-d950e09a-921b-11e7

[2017-09-05 07:31] mikaelekstrom commented on #145
I am runing the same version of Form Editor but it dosent want to work, cant really figure out what i have done wrong.

[2017-09-05 08:56] mikaelekstrom commented on #145
Can you make a quick step by step installation guide and then i can try reinstalling it again.
Another thing is that i cant find the recaptcha box either when adding things to the form, so maybe i have a broken installation.

KR
Mikael

[2017-09-05 10:07] mikaelekstrom commented on #145
Got it to work, I had missed configuring things when adding the property to a page type. I thought I only had  to configure the data type to get it to work.

Thanks!
Mike

[2017-09-05 10:10] mikaelekstrom opened #146 "Setting the email entered in the form as from email for notification"
Is it possible to set an email address entered in the form as the from email for the notification email?
So you can then respond directly to the the person submitting the forms email whitout having to log in to umbraco och create a new email?

KR,
Mikael

[2017-09-05 14:34] kjac commented on #145
@mikaelekstrom glad you figured it out :) it's created that way so different editors can have notification emails for their respective forms. At the same time it also works as an opt-in for notifications.

I'll go ahead and close this now.

[2017-09-05 14:34] #145 closed

[2017-09-05 14:37] kjac commented on #146
Hi @mikaelekstrom,

Not out of the box. If you're into C#, you can hook into the `BeforeSendMail` event - see [this section](https://github.com/kjac/FormEditor/blob/master/Docs/extend.md#email-sending-events) of the docs.

[2017-09-05 14:52] mikaelekstrom commented on #146
Cant really find where in the code the from address is set and the email is actually sent.

[2017-09-05 17:21] kjac commented on #146
@mikaelekstrom try something like this (disclaimer: I haven't tested it):

[code]

[2017-09-20 13:54] thomassen88 opened #147 "Model.Invalid does not trigger in the fieldtype template"
Hi,
Im trying to activate the "has-error" class on the "form-group"-div wrapped around the label and the field, but the class never appear.
"Model.invalid" wont trigger in the fieldtype template (eksample: core.textbox.cshtml)

I have followed the tutorials to the point, but i cant figure why it wont appear.

One more thing:
Is there a "Valid" definition that i can use to wrap a "success"-class ar

[2017-09-21 10:34] kjac commented on #147
HI @thomassen88,

The `has-error` class is only set server side, and only if the server side validation fails. Hopefully all validation errors should be caught client side, and you won't ever see it. It's meant as an option to highlight the entire field group (label + field) if there's a server side validation error, to ensure they stand out in case of a full page reload.

As for a `success` class

[2017-09-21 10:35] kjac commented on #146
Closing this due to lack of activity.

[2017-09-21 10:35] #146 closed

[2017-09-21 12:52] thomassen88 commented on #147
@kjac Thank you, that make sense tough.
I will look into AngularJS then.
Thank you for the fast reply and awesome plugin 👍 :)

[2017-09-21 12:52] #147 closed

[2017-09-21 13:12] kjac commented on #147
You're welcome, glad you like it!

Den 21. sep. 2017 2.52 PM skrev "Bengt Andre Thomassen" <
notifications@github.com>:

[2017-09-29 05:44] kjac commented on #94
I'm closing this due to lack of updates.

[2017-09-29 05:44] #94 closed

[2017-09-29 05:45] kjac commented on #98
I've found no time to start a side project for custom fields and other extensions. If anyone's up for the task, by all means do so.

I'm closing this for the time being.

[2017-09-29 05:45] #98 closed

[2017-09-29 05:46] kjac commented on #141
I've found no time to start a side project for custom fields and other extensions. If anyone's up for the task, by all means do so.

I'm closing this for the time being.

[2017-09-29 05:46] #141 closed

[2017-09-30 21:10] GuzzyMedia opened #151 "Rendering issue"
![2017-09-30 23_06_32-](https://user-images.githubusercontent.com/27682662/31049485-7410a558-a634-11e7-99cf-bf118a84776d.png)
![2017-09-30 23_07_29-settings - test](https://user-images.githubusercontent.com/27682662/31049486-74273b74-a634-11e7-9c30-3ab615f8a5eb.png)
![2017-09-30 23_08_06-settings - test](https://user-images.githubusercontent.com/27682662/31049487-74376a12-a634-11e7-8988-48ddbf56dc

[2017-10-01 04:27] kjac commented on #151
Hi @GuzzyMedia,

Looks like you're trying to render a block of Razor within a WebForms template? That won't work :)

Form Editor has no official support for WebForms. If you want to use it in a WebForms context, you'll have to create your own rendering from scratch.

Alternatively you might be able to move the Razor to a macro. Not sure if it'll work, nor how it'll perform (you'll efficiently be m

[2017-10-01 12:42] GuzzyMedia commented on #151
Hello
Thanks for the fast response!
The thing is, that i'm trying to implement your form into a content page, but i'm not sure where to put the razor.. The template, our content page is using is a webform, and I find it as the only place I can put it into... Do you have the time to help me out?

[2017-10-01 16:42] GuzzyMedia commented on #151
![2017-10-01 18_39_55-](https://user-images.githubusercontent.com/27682662/31056797-299fde0e-a6d8-11e7-8aa0-e2227a92a6ea.png)
![2017-10-01 18_40_22-developer -](https://user-images.githubusercontent.com/27682662/31056798-29a04826-a6d8-11e7-8625-54ea2319ab94.png)
![2017-10-01 18_40_33-](https://user-images.githubusercontent.com/27682662/31056799-29a09a60-a6d8-11e7-82bf-baf609ed46a7.png)

I've just

[2017-10-01 20:00] kjac commented on #151
The log files should probably give you some clues as to what's wrong with your code. My guess is you need to close the code block before calling `@Html.Partial(...)`.

I just tried creating a WebForms master page that calls a Razor macro with the Form Editor rendering. Looks like it works just fine.

Keep in mind though that you're still mixing WebForms and Razor in the same rendering, which might

[2017-10-02 06:19] GuzzyMedia commented on #151
You're amazing! You just saved my day..
It was my macro that had some difficulties..
As you can see, i'm still pretty new to Umbraco, so i learned alot from this! 👍
Thanks alot!

[2017-10-02 06:46] kjac commented on #151
You're welcome. Glad you got it working.

[2017-10-02 06:46] #151 closed

[2017-10-03 08:49] raulribeiro opened #152 "Error with angular"
hello,

i've started having this error, can you help me?

https://user-images.githubusercontent.com/6097393/31117002-1509586e-a820-11e7-9921-77e1796bb3e5.png

[2017-10-03 09:34] kjac commented on #152
Hi @raulribeiro ... looks like something's wrong with your Umbraco install. Those URLs are in fact templates from the Form Editor core.

Did you do an upgrade or something similar to cause this?

[2017-10-03 09:36] raulribeiro commented on #152
i've updated some assemblies, but i didn't changed the umbraco installation
i have some forms created, can i unistall formeditor and install again without losing the created forms?

[2017-10-03 10:02] raulribeiro commented on #152
i've uninstalled the package and installed again. it's working :)

[2017-10-03 10:32] kjac commented on #152
Hey again. That's good news :)

I suspect you've experienced some glitch in Client Dependency here. Might have been enough just to clear your clientside cache to solve it.

I'm closing the issue, glad you got it all working again.

[2017-10-03 10:32] #152 closed

[2017-10-10 21:22] raulribeiro opened #153 "Actions not working"
For some reason validations are working but actions doesn't do anyhing.

Can someone help me?

[2017-10-10 22:10] raulribeiro commented on #153
![image](https://user-images.githubusercontent.com/6097393/31413237-3a7dd35e-ae10-11e7-822c-5a3b573a3684.png)

[2017-10-11 07:21] kjac commented on #153
Hi @raulribeiro,

By the looks of things you're using the Sync rendering. It works fine on my end with my test actions, but maybe you've somehow created an action that causes the JS to fail?

You need to add some specifics about the error and how it can be reproduced.

Here's a GIF showing how the Sync rendering works in my test:

![issue153](https://user-images.githubusercontent.com/7405322/31426

[2017-10-17 18:42] kjac commented on #153
Closing this now.

[2017-10-17 18:42] #153 closed

[2017-10-23 20:56] dbardi opened #154 "Should be comma separated not semi-colon separated."
https://github.com/kjac/FormEditor/blob/600c91b22bab6d9b04b5ec8d8d45bacb8760cb99/Source/Solution/FormEditor/Api/CsvExport.cs#L115

[2017-10-23 20:57] dbardi commented on #154
Maybe an option in the FormEditor.config or the datatype to set the delimiter.

[2017-10-23 22:42] dbardi opened #156 "Error when submitting form"
"The requested resource does not support http method 'GET'."

FormEditorWidget is an IPublishedContent with a property called Form.
Form renders correctly, but can't submit without error.
The method appears to require HttpGet attribute.

`@using ClientDependency.Core.Mvc
@model Models.FormEditorWidget
@{
    Html.RequiresJs("//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js", 0);

[2017-10-29 11:06] kjac commented on #156
Hey @dbardi ... not sure why the *** GitHub has stopped sending me mail notifications. Anyway, I just saw your issues now.

Anyway... submission must use POST - you can't submit using GET. The bundled JS should perform a POST out of the box: https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/JS/FormEditor/FormEditorAsync.js#L161

[2017-11-06 01:12] dbardi commented on #156
Thanks.. was an issue on my end.

[2017-11-06 06:04] #156 closed

[2017-11-08 14:16] uniquelau commented on #154
Excel struggles with reading the export, examples below:

![excel screenshot](https://user-images.githubusercontent.com/914735/32553611-4c108f86-c48f-11e7-9348-687025d879e2.JPG)

[Form data 2017-11-08 12-34.xlsx](https://github.com/kjac/FormEditor/files/1454185/Form.data.2017-11-08.12-34.xlsx)

[2017-11-08 14:50] kjac commented on #154
@uniquelau @dbardi I meant to address this issue earlier today but got distracted.

As of version 1.3 the delimiter is configurable in the Form Editor config file; check [the docs](https://github.com/kjac/FormEditor/blob/master/Docs/install.md#csv-export-format) for more insight.

@dbardi please note that the config syntax is a little bit different from your original PR.

[2017-11-08 15:12] uniquelau commented on #154
Set to comma, and Excel is happy 👍

[2017-11-08 15:15] kjac commented on #154
I'm beginning to suspect that my Excel is the only one in the whole wide
world that likes semicolons better... :P

Den 8. nov. 2017 4.12 PM skrev "Laurence Gillian" <notifications@github.com

[2017-11-08 16:21] uniquelau opened #161 "Submissions - Scroll bar disappears"
When a viewing form submissions that have multiple fields, the table overflows and a scroll bar appears.

However, in Chrome, this scroll bar seems to disappear and is not possible to click.

I can scroll the submissions, if I highlight some text and drag it.

The scroll appears momentarily, and then disappears again.

CSS is my cup of tea, so I had a good look at what's going on inside `form.css`

[2017-11-12 12:38] kjac commented on #161
Hey @uniquelau,

I can't seem to reproduce this - here's how I see it in Chrome:

![image](https://user-images.githubusercontent.com/7405322/32698987-af1dfc7c-c7ae-11e7-8251-9f86ae04a18c.png)

Which Umbraco and Form Editor versions are you using?

[2017-11-13 18:10] uniquelau commented on #161
Latest version of Form Editor (1.3.0) and Umbraco 7.7.2, I'll have another play tomorrow! Cheers! L

[2017-11-14 07:08] kjac commented on #161
Hey again :)

This is how I see it unfold in Umbraco 7.7.3 with the latest Form Editor:

![image](https://user-images.githubusercontent.com/7405322/32767297-0b11e5ba-c913-11e7-8421-bc0dc83a55ae.png)

[2017-11-14 07:13] kjac commented on #154
Closing this now :)

[2017-11-14 07:13] #154 closed

[2017-11-21 17:31] uniquelau commented on #161
Upgraded to latest Umbraco version, issue is resolved.

[2017-11-21 17:31] #161 closed

[2017-11-21 17:33] uniquelau opened #163 "Upload validation"
Field, Upload, Mandatory.
Forms Editor version = 1.3.0
Umbraco version = 7.7.6

If I upload a file that exceeds the size limit, an error is displayed.

If I then select a file that passes validation, it is not uploaded and the validation message is not cleared.

This means the form cannot be submitted.

File limit is set to 1000KB, file I am trying to upload is 4000KB.

Happy to share the PDF's if

[2017-11-22 12:24] kjac commented on #163
@uniquelau hmmm.. does the form submit the second time around? And if not, which rendering are you using?

[2017-11-22 12:54] uniquelau commented on #163
I'm using the ASync, and nope, once the error occurs it's impossible to
submit the form.

On 22 November 2017 at 12:24, Kenn Jacobsen <notifications@github.com>
wrote:

--
Laurence Gillian

VooDooDog
20a Brownlow Mews,
London, WC1N 2LA

+44 (0)7763 849 700
+44 (0)20 7387 2049

lau@voodoodog.com
www.voodoodog.com

[2017-11-22 20:52] kjac commented on #163
OK. It's a client-side issue then. I'll have a look at it this weekend.
Thanks for reporting ☺️

Den 22. nov. 2017 1.54 PM skrev "Laurence Gillian" <notifications@github.com

[2017-11-24 04:15] joel-cass opened #164 "Form indexes end up in parent application when CMS is deployed to a sub directory"
The Indexes will end up in the incorrect folder when the CMS is deployed to a virtual directory within a parent application. If permissions are not set up, a 500 error occurs on the editor screen.

https://github.com/kjac/FormEditor/blob/036d93adcbc665fccea8147ed449b88d9e4a0b3b/Source/Solution/FormEditor/Storage/Index.cs#L477

I'm pretty sure this can be solved by changing the line to ```return ne

[2017-11-24 10:28] kjac commented on #164
Hey,

I'm sure you're right. I'll have a look at it this weekend.

Thanks for reporting.

[2017-11-28 09:02] kjac commented on #164
@joel-cass 1.3.1.0 is out now with a fix for this issue :)

[2017-11-28 09:02] #164 closed

[2017-11-28 09:04] kjac commented on #163
@uniquelau the fix for this is two-fold:
1. The server validation errors are cleared once a new file is selected.
2. The clientside JS now validates the selected file sizes, to avoid the problem happening in the first place (and avoid uploading large files in vain).

v1.3.1.0 is out now with this fix.

[2017-11-28 09:04] #163 closed

[2017-12-05 06:45] joel-cass opened #167 "Configuration is not picked up when website is run in a sub folder"
Hello,

I found an issue related to running the website in a subfolder, where configuration in config/FormEditor.config is not picked up. I think I have traced it to line 27 in configuration.cs:

https://github.com/kjac/FormEditor/blob/036d93adcbc665fccea8147ed449b88d9e4a0b3b/Source/Solution/FormEditor/Configuration.cs#L27

I think the solution is to add a tilde to the path so that `HostingEnviron

[2017-12-07 12:08] uniquelau commented on #154
For future reference, I think this issue is a regional/windows issue, as I noticed UI-O-Matic is working in the same way, using a semi colon.

https://github.com/TimGeyssens/UIOMatic-Addons-Export
https://github.com/TimGeyssens/UIOMatic-Addons-Export/issues/3

More details here:
https://stackoverflow.com/questions/10140999/csv-with-comma-or-semicolon

[2017-12-07 12:23] uniquelau opened #168 "Checkbox Group invalid when option checked"
I have a checkbox group on my form, since upgrading to V1.3.1, if one of the boxes is checked the form fails validation.

I've created new fields and unchecked required, but the error still persists.

The response is:

`{"invalidFields":[{"name":"Availability 2","formSafeName":"_Availability_2","submittedValue":"[\"Monday\",\"Tuesday\",\"Wednesday\",\"Thursday\",\"Friday\"]","invalid":true}],"fail

[2017-12-07 20:38] kjac commented on #168
Hey @uniquelau,

Looks like you've stumbled across a bug here. Surprised noone's found it before, from what I can see it's been around for ages :)

I'll create a patch for it in a day or two.

Thanks for reporting 👍

[2017-12-07 20:41] kjac commented on #167
@joel-cass I think you're right :)

I'll be putting out a patch release one of the coming days, this will be in it.

Thanks for reporting 👍

[2017-12-10 10:22] kjac commented on #168
@uniquelau this is fixed in v1.3.1.1

[2017-12-10 10:22] #168 closed

[2017-12-10 10:23] kjac commented on #167
@joel-cass this is fixed in v1.3.1.1

[2017-12-10 10:23] #167 closed

[2017-12-18 07:27] rasmusfjord commented on #133
Hey Kenn

Did you do anything to this so that its not possible or other solution? Just if its worth an update for a customer of ours, or if its still there :) And merry Christmaes.

[2017-12-18 07:52] kjac commented on #133
Hi @rasmusfjord ,

I ended up stripping commas from multi value field values; see [this line](https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/Plugin/js/directives/multiSelectValue.js#L17). It's probably worth digging into an upgrade for your customer :)

And merry Christmas to you too!

[2017-12-18 07:54] rasmusfjord commented on #133
thanks man for the update and for building an awesome product :)

[2017-12-18 07:57] kjac commented on #133
You're so very welcome!

Den 18. dec. 2017 8.55 AM skrev "rasmusfjord" <notifications@github.com>:

[2018-01-10 12:02] thomassen88 opened #169 "Email reply-to and name"
Hi Kjac,
I have a question about the email Confirmation and Notification emails.
Is it possible to set an reply-to address and a custom sender-name?

**Reply to:**
One our clients are using an subdomain for their transaction-emails and want to set their contact-email as an "reply to"-address.

Example:
from: transaction@sub.example.com
reply to: contact@example.com

**Custom sender-name:**
The sen

[2018-01-10 13:39] thomassen88 commented on #169
One more thing:
Is it possible to change the date format to: dd.mm.yyyy on the date-field in the email-template?

[2018-01-11 10:50] kjac commented on #169
Hi @thomassen88,

I can't figure out if you solved your first question since you closed the issue; but there's no way to configure reply-to addresses in the UI. Out of the box it will always be the same as the sender address. However, if you really want to change it (and you're into C#), you can hook into the `BeforeSendMail` event on `FormModel` and manipulate the `MailMessage` object ([see the d

[2018-01-11 17:38] viral-1 opened #170 "SQL Storage"
Have the latest version of FormEditor 1.3.1.1 with Umbraco 7.7.6 and we are wanting to move the storage to the SQL Server that is hosting Umbraco data.  According to your instructions we just add &lt; Index type="FormEditor.SqlIndex.Storage.Index, FormEditor.SqlIndex" /&gt; to the FormEditor.config file.

This is not working... is anything else required to make this work?  We have removed the file

[2018-01-12 16:18] kjac commented on #170
Hi @viral-1,

The [documentation](https://github.com/kjac/FormEditor/blob/master/Docs/storage.md#changing-the-storage-index) might not be entirely clear on this subject... but the SQL index mentioned in the docs is the one from the [samples section](https://github.com/kjac/FormEditor/tree/master/Samples/SQL%20storage%20index).

In order to use it, you'll need to pull a copy of the samples solution

[2018-01-22 06:16] kjac commented on #170
I'm closing this issue now due to lack of feedback. Feel free to reopen it if you still need help with it.

[2018-01-22 06:16] #170 closed

[2018-01-22 06:16] kjac commented on #169
I'm closing this issue now due to lack of feedback. Feel free to reopen it if you still need help with it.

[2018-01-22 06:16] #169 closed

[2018-02-11 08:01] joshreid opened #172 "GetFormModelProperty function not considering compositions"
Hi @kjac

I have found that the GetFormModelProperty function does not consider the possibility of property being in a composition in the contentType.

So I have revised code in ContentHelper.cs below to fix - can give pull request if you want.

[code]

Let me know if you need anything else and when you'll repackage - I'll run my custom built dll for now.

[2018-02-11 12:18] kjac commented on #172
Hi @joshreid,

Awesome, thank you!

Just to avoid creating the list if we don't have to, could you try this code and see if that works for you as well?

[code]

[2018-02-11 20:05] joshreid commented on #172
All good thanks @kjac - yep that's better, and works as expected.

[2018-02-13 19:24] uniquelau opened #173 "Validation for fields affected by "Actions""
When mandatory fields are used with "Actions", it is easy to create a form that will not submit, because there are times when its state is not valid.

### Example

Name (textstring, mandatory)
Occupation (dropdown, mandatory) [programmer, plumber]
Qualification level (dropdown, mandatory)

If all fields are completed the form will submit.

If we apply the following Action logic:

Field *Occupation

[2018-02-13 20:54] kjac commented on #173
@uniquelau couldn't you achieve the same thing with cross field validation and actions combined? Something along the lines of [this tutorial](https://github.com/kjac/FormEditor/blob/master/Tutorials/ConditionalField.md)?

I get where you're going with this, but implementing this in the clientside *and* serverside validations would be a nightmare... for starters just consistently figuring out what'

[2018-02-14 09:51] uniquelau commented on #173
Ah smooth! That does the trick perfectly 👍 thank you!

[2018-02-14 09:51] #173 closed

[2018-02-14 13:22] RPanc opened #174 "Date Field not working in safari browser"
Hi @kjac

**1.** I have taken a Date field in backoffice but when it render its working proper in chrome and Mozilla browser but its not working in safari.

**2.** I need a format like DD-MM-YYYY in submitted form in backoffice for date field submitted by user.

**3.** How to take source of project and run into visual studio. I tried from
(https://github.com/kjac/FormEditor/releases/tag/v1.3.1.1)

[2018-02-14 19:57] kjac commented on #174
Hi @RPanc,

Safari and IE11 don't support `<input type="date" />` ([see here](https://caniuse.com/#search=input%20date)). If you need to support these, you'll have to replace the default date rendering with your own date picker (look for `core.date.cshtml`). Check [the documentation](https://github.com/kjac/FormEditor/blob/master/Docs/render.md#creating-your-own-rendering) for inspiration.

Whatev

[2018-02-22 10:27] kjac commented on #172
Whoops, this one's in the latest version :) closing it now.

[2018-02-22 10:27] #172 closed

[2018-02-22 10:28] kjac commented on #174
Closing this issue due to lack of activity.

[2018-02-22 10:28] #174 closed

[2018-02-26 10:15] Attackmonkey opened #176 "Has User Submitted Logic Fails for Logged in Members"
The logic for checking whether a user can make a submission is flawed on sites with Umbraco members, when used on shared machines.

To replicate, create a poll on your website, and create two members. Add the poll to one of your members only pages.

Fill out the poll with the first member. Log out. Log in with the second member. The second member will not be able to complete the poll, as the plugi

[2018-02-27 16:24] kjac commented on #176
Hi @Attackmonkey,

I see your point. On the other hand, creating member specific limitations opens up for the opposite issue; a member would always be able to submit a form twice, if it as publicly available (as anonymous and as logged in). Do you see a solution that handles both problems?

Also, in case you're not aware you can roll your own solution by replacing the default "max submissions hand

[2018-02-28 05:12] bobi33 opened #177 "Form Submissions from external IP Addresses not working"
Hi again :)

I found an issue regarding form submissions when used with IP address blocking in IIS. I'll try my best to explain it:

-I have IIS blocking turned on for all IP Addresses trying to access /umbraco (so no one can reach the back-end), except for a select few IP Addresses that allow access to /umbraco.
-When you are using the network of one of the IP Addresses that is allowed to access

[2018-02-28 08:36] kjac commented on #177
Hi @bobi33,

Sounds like you've got a load balanced setup with a bunch of frontend servers? My guess is the submissions end up on the frontend servers then.

If that's the case, you've got one of two options:

1. Setup a file sharing/synchronization solution for ~/App_Data/FormEditor so the storage indexes are shared between all servers.
2. Change the storage index - [check the docs](https://githu

[2018-02-28 10:21] kjac commented on #176
Cool 👍

Sounds like the simplest way around your requirement would be to clone the [default handler}(https://github.com/kjac/FormEditor/blob/master/Source/Solution/FormEditor/Limitations/MaxSubmissionsForCurrentUserHandler.cs) and change the cookie name to something that includes the current member ID.

[2018-02-28 10:21] #176 closed

[2018-02-28 13:58] bobi33 commented on #177
Hi,

I’m not sure if I have a load balanced setup with a bunch of front end servers. I’m using a GoDaddy VPS. The form submissions appear to work for the ip addresses that are allowed access to the Umbraco file through IIS IP address restrictions. But if you’re on an IP address that doesn’t have access to the Umbraco file (because of the iis IP address restriction - disallow all except...) the sub

[2018-02-28 21:38] bobi33 commented on #177
I am using async rendering.

Perhaps I can try to allow IP access through IIS to that specific folder you mentioned. However, I cannot seem to find that folder: `/umbraco/FormEditorApi/Public/SubmitEntry/`. Where can I find it?

FormEditorApi is not found under the /umbraco folder.

The user receives a "success" notification on screen no matter what IP address they are using, but again, the form m

[2018-03-01 06:58] kjac commented on #177
Hi @bobi33,

It's a virtual path to an API endpoint, so you won't find any physical files.

[2018-03-01 13:34] bobi33 commented on #177
Ah, ok.

So what do you think is the best way to resolve this? It’s clear that  IIS IP blocking causes this. I don’t know if I can provide access to a certain file in the /Umbraco folder to fix this.

I’m lost :s

[2018-03-01 14:12] kjac commented on #177
If you're certain it's the IP restrictions that are causing the problem and
you can't lift them for the route mentioned above, you have two options
that I can think of right now.

You could reimplement the form editor endpoint in a controller that's not
routed under /umbraco, and adjust the script accordingly.

You could swap the async rendering with the noscript one.

I'd probably go with the lat

[2018-03-01 14:16] bobi33 commented on #177
I’ll try the latter option, but I’ll wait for the updated nuget. I wish it was as easy as finding the route in Umbraco, but perhaps I can’t see it because I have an older version.

By updating the nuget version would it rewrite all customized forms and code that I’ve added?

Thanks for all of your help Kenn! You’ve always been awesome.

[2018-03-01 19:56] kjac commented on #177
@bobi33 you're welcome :)

There's no new release planned at the moment; the updates I was referring to earlier were for the code samples section.

If you update the NuGet package, chances are you'll be prompted to overwrite any files that you have changed. I'd always recommend you doing so and using your source control diff tool to figure out if you need to merge new features into your changed vi

[2018-03-01 20:54] bobi33 commented on #177
@kjac thanks! So there is no folder in /umbraco that can just have an "allow" status under IIS IP Domain allowing/blocking? Haha. That would be so much easier. I guess I can change from async to noscript rendering (I'm assuming that is sync rendering), but I always thought async was more secure, and quicker for loading.

I wonder if this is an issue because I have not updated the nuget...hmm.

[2018-03-02 12:10] kjac commented on #177
@bobi33 `/umbraco/FormEditorApi/Public/SubmitEntry/` is not a physical folder on disk, no. It's an endpoint in an API controller. However, all requests to it behave as if it was a folder on disk, at least from a core IIS perspective. Perhaps you can lift the IP blocking for that specific path without having to point out an actual folder on the disk?

Asynchronous form submission isn't anymore (or

[2018-03-02 15:34] uniquelau opened #178 "UX - Submit Button (when form is missing button)"
It is possible to save a form, that does not have a submit button.

It might be nice, if when saving a form without a submit button, a message appeared.

"Your form does not have a submit button, you'll need one for submissions!

[2018-03-02 17:18] bobi33 commented on #177
Hmm...I'm thinking about how to lift the IP blocking for that specific path in the web.config...especially if it is not a physical folder.

Re the async vs sync ... so sync may not create the same issue? Or no script for that matter...I should try that out then, instead of getting too "Fancy" with fixes...simplest solutions are always the best :)

Again, you rock!

[2018-03-03 11:04] kjac commented on #178
@uniquelau while I completely agree with this, I'm not sure how to pull it off. There are two different submit button fields in the core alone ([`SubmitButtonField`](https://github.com/kjac/FormEditor/blob/master/Source/Solution/FormEditor/Fields/SubmitButtonField.cs) and [`InvisibleReCaptchaField`](https://github.com/kjac/FormEditor/blob/master/Source/Solution/FormEditor/Fields/InvisibleReCaptcha

[2018-03-08 00:14] jonrandahl opened #180 "FormEditor v0.11.1.1 ~ System.Reflection.ReflectionTypeLoadException Error"
Ken,

First, belated congratulations on working at HQ! I'll have to find you in May to say hello!

Second, apologies for requesting support for such an old version however at this moment the upgrade path is not feasible at this time as both the dev and staging sites are running on v7.5.11.

Finally, the issue is that no matter what I do I cannot get the fields to render in the back office? I've tr

[2018-03-08 08:53] kjac commented on #180
Hi @jonrandahl,

Why thank you! Though last I checked I wasn't employed at HQ, but I guess I'll have to do a double check 😉

What you're experiencing could be caused by a multitude of things. Since I can't see the LoaderExceptions I've no idea where to start, really.

My only suggestion at this point is for you to download the [original source for v0.11.1.1](https://github.com/kjac/FormEditor/rele

[2018-03-08 11:18] jonrandahl commented on #180
Ken, I feel really sheepish now... this isn't you then?

https://umbraco.com/blog/new-hire-at-umbraco-hq-kenneth-jakobsen/ #doh!

I'll pull the source down and do exactly that, thank you!

#jongoesoffhanginghisheadinshame

[2018-03-08 12:15] kjac commented on #180
@jonrandahl haha no that's not me. Name is pretty darn close, tho'!

Let me know how you get along with the troubleshooting.

[2018-03-11 01:34] rocifier opened #181 "No form Editor form was found on the page"
Hi, when I followed the quick-start instructions to add a form to a new template, I don't see any form rendered. Instead, I see a comment tag added to my html: ``. Below are my minimum steps to reproduce:

Add a home page template to a blank Umbraco Cloud setup which includes the recommended form partial:

[code]

Create a node using a new document type that consists of a Form Editor on a tab link

[2018-03-11 02:13] rocifier commented on #181
I missed an important sentence in the quickstart guide: naming the form alias "form". After renaming the alias, the form renders successfully and works. You may close this issue :)

[2018-03-11 06:16] kjac commented on #177
I'm closing this now, feel free to reopen if there are any further questions to it.

[2018-03-11 06:16] #177 closed

[2018-03-11 06:18] kjac commented on #181
@rocifier I was about to suggest that too :) glad you figured it out.

[2018-03-11 06:18] #181 closed

[2018-03-14 14:34] uniquelau commented on #178
Thank's for the comment, I'll have a bit of a think! And come back in the next few weeks.

[2018-03-23 20:42] MattDion opened #182 "Form Editor Submissions not showing up for Info Page template"
Hello,

I try to load the form into a template with a bit more stuff (From Form Editor to Info Page).

The only problem is that we cant see the submissions anymore using that document type/Template.

Any clue why by any chance?

It also give that warning in Umbraco log trace:

FormEditor.FormModel : Could not submit form data to the web service - the web service endpoint URL was not configured cor

[2018-03-25 07:34] kjac commented on #182
Hi @MattDion,

Disregard the warning; that's been fixed in the latest version.

Have you had a look at [the rendering docs](https://github.com/kjac/FormEditor/blob/master/Docs/render.md)? You should be able to apply the steps outlined in the docs to your "Info Page" template.

[2018-03-26 15:35] MattDion commented on #182
It Works like a charm thank you!!

This is actually working way better than umbraco form for our needs...!!

Great job!!

Mathieu

[2018-03-26 19:49] MattDion commented on #182
Hello,

I just reopened the issue as I though it would work. But no it does not work. I checked every steps...

There must be something in configuration??

everything render good. The form shows up. The form submit. THe only problem is to visualize the submitted form in the submission tab. They dont show up. As soon we switch back to the original template then they show up. Switching document type

[2018-03-26 20:07] kjac commented on #182
Hi again!

By the looks of it, your form property resides on a document type composition. Do you have the [latest version](https://github.com/kjac/FormEditor/releases/latest) of Form Editor installed? There was an issue in the earlier versions with compositions, which *should* have been fixed in version 1.3.2.0.

[2018-03-26 21:27] bobi33 commented on #177
Hey @kjac, I just got around to making the simple edit from Async to Sync, and Sync works with the IP address blocking.

Thanks again for the simple solution. :)

Stay awesome.

[2018-03-27 09:31] kjac commented on #177
@bobi33 I'm glad you worked it out 😄

[2018-03-27 14:07] bobi33 commented on #177
Can you recommend a good and secure solution for configuring the smtp generally for Umbraco? I am debating making the smtp server or using a service. I am looking for something that is extremely secure, and the ‘go-to’ industry standard...kind of like what Umbraco is for a CMS.

[2018-03-27 15:35] MattDion commented on #182
Hello,

the issue was the template used was inheriting settings overlapping...

I created a brand new template and added piece by piece... I found the problem.

Your package works like a charm. We actually prefer it better than Umbraco forms...

Great work!

[2018-03-27 15:35] #182 closed

[2018-03-27 17:29] kjac commented on #182
@MattDion that's awesome! Good thing you figured it out. I'm glad you like the package :)

[2018-03-28 06:59] kjac commented on #182
@MattDion I'm happy to hear that. No money needed though. I didn't create the package for profit.

Form Editor is only promoted by word of mouth (and a little bit on Twitter), so... tell your friends 😁

[2018-03-28 07:04] kjac commented on #177
@bobi33 I don't usually see any performance issues with notification emails; all emails are sent asynchronously ([see the code here](https://github.com/kjac/FormEditor/blob/master/Source/Solution/FormEditor/FormModel.cs#L745)). I've never used SendGrid SMTP though, but testing with similar services (i.e. Mailtrap) has never proven problematic.

[2018-03-28 19:50] bobi33 commented on #177
@kjac Hmm...Very strange. I wonder what's going on. Async and Sync work fine without configuring the SMTP datatype. I know that the SendGrid SMTP doesn't delay things when I use another email function of umbraco (eg. forgot password). Also, to troubleshoot, I removed the SendGrid SMTP in formeditor - the form worked perfectly (acceptable quick), both using Sync and Async.

I'm baffled. SendGrid SM

[2018-03-30 12:24] kjac commented on #177
Hi @bobi33,

I've just tested email notifications for good measure. Below is a gif with the actual performance of the emails (using the sample email template). As you can see it's pretty much instant, and the email is received moments later in Mailtrap. And that's running on my (none too fancy) laptop that simultaneously runs Visual Studio and a bunch of other programs.

Could it be that your emai

[2018-03-30 17:04] bobi33 commented on #177
Hi @kjac,

This is so strange. I am also using the sample email template (even more simple than that...just an <h2> indicating "New Notification"). I see that yours is pretty much instantaneous. I am running it off of a VPS. I first thought that I set up umbraco email notifications incorrectly, but it works quickly with the "forgot password" in the back office.

I added some styling into the .csht

[2018-04-03 16:28] MattDion opened #183 "Custom conditions still triggering a server side error"
Followed the documentation:
https://github.com/kjac/FormEditor/blob/master/Docs/extend_condition.md
https://github.com/kjac/FormEditor/blob/master/Docs/extend_condition_advanced.md
https://github.com/kjac/FormEditor/blob/master/Docs/extend_condition_simple.md

But I can’t figure out how to not trigger some sort of server side validation

The client side validation is working as expected, however s

[2018-04-03 18:24] kjac commented on #183
Hey @MattDion,

I'm able to reproduce your issue. Looks like it happens with conditions by configurations only, and only when the conditions are all by configurations for a given field.

I'll have a look at a fix as soon as I can :)

Thanks for reporting! 👍

[2018-04-10 15:47] uniquelau opened #184 "When a "checkbox group" is marked as required, the form can be be submitted unchecked"
![image](https://user-images.githubusercontent.com/914735/38567708-c8b1274a-3cde-11e8-8b09-c6cfdaa2f5ab.png)

[2018-04-10 17:50] kjac commented on #184
Hi @uniquelau,

Thanks! I can reproduce this in the async rendering but not in the sync rendering - I hope you're using the async?

If you want a quick fix, make one of the checkbox values selected by default; it'll trigger the validation routines.

I'll make sure to release a proper fix soon.

[2018-04-22 19:03] kjac commented on #183
@MattDion the new release (1.3.2.1) fixes this issue. Thanks again :)

[2018-04-22 19:03] #183 closed

[2018-04-22 19:03] kjac commented on #184
@uniquelau the latest release (1.3.2.1) fixes this issue properly. Thanks again for reporting.

[2018-04-22 19:03] #184 closed

[2018-04-26 08:02] biapar opened #185 "Is FormEditor Angular 5+ compatible?"
Is FormEditor Angular 5+ compatible?
If yes, Is there some example?
Thanks.

[2018-04-26 13:26] biapar opened #186 "Form submission: Is't possible to save submitted data to a new content node?"
Form submission: Is't possible to save submitted data to a new content node?

[2018-04-26 14:17] kjac commented on #185
Hi. There're are no samples of angular 2+ support. But it should be possible to tweak the angular 1 solution. Alternatively have a look at the noscript rendering and go from there.

[2018-04-26 15:01] biapar commented on #186
My idea is when user submit the form then it's possible to save data as new content node under a parent node. Today I made this with some custom code using Umbraco API.

[2018-04-26 17:08] dbardi commented on #186
There an events with FormEditor that you can bind to on submit (before and
after save)
On Thu, Apr 26, 2018 at 9:01 AM BP <notifications@github.com> wrote:

--
Daniel S. Bardi

[2018-04-27 08:10] chrno1209 opened #187 "Not seeing reCaptcha field"
Hi,
I install FormEditor on my Umbraco project but couldn't see reCaptcha field to select, what else did I miss?
Thanks.

[2018-04-30 19:29] kjac commented on #180
I'm closing this now :)

[2018-04-30 19:29] #180 closed

[2018-05-01 19:16] MattDion commented on #187
It works very good for us... I just tested with the new version and it works...

[2018-05-01 20:05] MattDion commented on #183
Thank you for the new release!!! It works perfect!! We might have add a very nice feature. and will fork soon ;)

[2018-05-02 03:03] chrno1209 commented on #187
Just tested again and it works, I missed the configuration for reCaptcha, thanks so much for your support :).
Close ticket now.

[2018-05-02 03:03] #187 closed

[2018-05-03 12:25] alex-grading opened #188 "Image url from submission"
Hello i want to display images that users upload. How can i get the url path?
I'm only able to get the name:

var uploadField = row.Fields.FirstOrDefault(f => f.FormSafeName.ToLowerInvariant().Contains("image"));
<img src="@uploadField.Value" alt="">

[2018-05-03 19:37] kjac commented on #188
Hi @alex-grading,

To put it shot: You can't do that with the built-in upload field.

The built-in upload field lets the storage index handle the file storage. And none of the built-in storage indexes lets you access the uploaded files through a regular GET request. It's a matter of security - uploaded files might contain sensitive information.

If you need to do something along these lines, I sug

[2018-05-04 10:07] johnmasson opened #189 "SerializationHelper.SerializeFormModel doesn't seem to work properly"
Serializing the form model with TypeNameHandling.Auto serializes the Pages property into a object like this (after processing):

[code]
which doesn't load into the editor correctly.

I needed to use TypeNameHandling.Objects to get JSON which would both load into the editor and deserialize correctly into a valid FormModel using strongly typed content properties. This results in a lot of unecessary

[2018-05-04 10:29] johnmasson commented on #189
I'm creating forms from code, as per your example:

https://github.com/kjac/FormEditor/blob/master/Docs/initialize.md

The bug is that SerializationHelper creates JSON which then doesn't load into the editor (if used as in the example).

[2018-05-04 11:08] johnmasson commented on #189
Reading this back, I realize I might be being unclear. Steps to reproduce the problem:

1. Create a form programmatically, as per the example in the docs.
2. Access the resulting content node in the Umbraco backend. The form appears empty, with none of the rows, fields etc. added from code showing up in the UI. Inspecting the form editors $scope.model.value shows the pages property as described ab

[2018-05-04 11:37] kjac commented on #189
@johnmasson aah... makes sense. Are you using the `SerializationHelper` to serialize the `FormModel` when creating your content, as per [this tutorial](https://github.com/kjac/FormEditor/blob/0adf5a1c80d476ff51207de09f58b2e0607a6a39/Docs/initialize.md#creating-the-form-programmatically)?

[2018-05-04 11:42] johnmasson commented on #189
Yes, I am.

[2018-05-04 12:49] kjac commented on #189
Strange. I'll try to find time to reproduce it this weekend.

[2018-05-05 09:52] kjac commented on #189
Hi @johnmasson,

I can't reproduce this. I've used Umbraco 7.9.2 instead of 7.8.1, but that shouldn't cause any difference.

I've used this event handler (copied from the above mentioned tutorial):

[code]

It yields the following JSON:

[code]

...and looks like this in the backoffice:

![189](https://user-images.githubusercontent.com/7405322/39661926-81051f16-505a-11e8-84fd-708e021f4313.png)

[2018-05-05 13:33] johnmasson commented on #189
OK, I've figured it out: although FormModel.Pages is declared as IEnumerable<Page> and accepts any implementation of IEnumerable<Page> in the constructor, it doesn't serialize properly when the concrete type is an array (as it was in my code) instead of List<Page> (as in your example). It looks as if the same is true for Page.Rows, Rows.Cells etc. I've updated my code to use List<> everywhere and

[2018-05-05 13:33] #189 closed

[2018-05-05 19:41] kjac commented on #189
Hmm strange. But I'm glad you worked it out! Enjoy the weekend :)

[2018-05-07 17:27] bobi33 opened #190 "Hyperlinks in form"
Hi, this is a question about adding in links to checkboxes ... For example: a checkbox that indicates: "I have read the terms and conditions and privacy policy." In this example, the words "terms and conditions" and "privacy policy" will have hyperlinks attached to allow users to read those policies.

[2018-05-08 05:14] bobi33 opened #191 "Speed Issues with smtp mail"
Hi @kjac,

If you remember my previous thread comments regarding slow form submissions using sync...

-I am now using the latest version of umbraco v 7.10.4, and the latest nuget install of formeditor
-I have tested both send grid and mailgun...both form submissions under sync are extremely slow
-when I remove send grid or mailgun from the mail settings, the form loads perfectly fine after a submi

[2018-05-08 06:08] kjac commented on #190
Hi @bobi33,

Have you checked the *Submission consent* field that was introduced as part of the [GDPR compliance](https://github.com/kjac/FormEditor/blob/master/Docs/GDPR.md#form-editor-and-the-gdpr)?

[2018-05-08 06:14] kjac commented on #191
Hi @bobi33,

I do remember the issue. I haven't experienced any similar issues, and I can't reproduce the issue either.

One of the really awesome things about Umbraco is that it's so easy to get up and running using the NuGet package and SQLCE. I suggest you create a brand new web project and install Umbraco and Form Editor from NuGet, run it off localhost and see if you can reproduce the issue w

[2018-05-08 21:41] bobi33 commented on #191
Hmm, ok, I've determined the cause of the issue...Sendgrid via smtp and mailgun via smtp just work slow with this. I tried mail trap (per your demonstration), and that works faster.

If I were to integrate a web service instead of an smtp, what would the host name become? In smtp in mail trap, the host name / server name is 	smtp.mailtrap.io, but if I were to make my own web service, what would th

[2018-05-08 22:08] bobi33 commented on #190
I think this can be closed. Thanks.

[2018-05-09 13:28] kjac commented on #190
Cool :)

[2018-05-09 13:28] #190 closed

[2018-05-09 13:30] kjac commented on #191
Hi @bobi33. I have no idea to be honest. I wouldn't attempt implementing my own transactional mail service.

Could you try Google SMTP to see if that has the same issue? Or some other SMTP service, just to see what the differences are.

[2018-05-28 06:54] hardikmehta09 opened #192 "Issue with "Checkbox Group" and action for "Other" value"
Hi @kjac ,

I have tried FormEditor and it is very beautiful tool you have created and it is very useful for me.

But I am facing one problem with "checkbox group" control.

I have added one item "Other" and I want to show a textbox on selection of "Other" which is "Other Value" Textbox.

![image](https://user-images.githubusercontent.com/11972845/40599731-426fd2fe-626c-11e8-8942-296a5970c220.png)

[2018-05-30 05:39] kjac commented on #192
Hi @hardikmehta09,

Glad you like the package!

The first problem is caused because the value isn't "Other" when you pick multiple values; it's "Other,[more values here]" or possibly "[more values here],Other" - depending on the order of which you click the checkboxes. The thing is that a checkbox groups isn't a standard HTML form field like a radio button group, so implementations of it don't rea

[2018-05-30 05:39] kjac commented on #178
@uniquelau I'm closing this ... feel free to reopen if you have any great ideas 😄

[2018-05-30 05:39] #178 closed

[2018-05-30 05:40] kjac commented on #185
Closing this now due to lack of activity.

[2018-05-30 05:40] #185 closed

[2018-05-30 05:40] kjac commented on #186
Closing this now due to lack of activity.

[2018-05-30 05:40] #186 closed

[2018-05-30 05:40] kjac commented on #188
Closing this now due to lack of activity.

[2018-05-30 05:40] #188 closed

[2018-05-30 05:40] kjac commented on #191
Closing this now due to lack of activity.

[2018-05-30 05:40] #191 closed

[2018-06-13 15:08] biapar opened #193 "Is't possible to save into a Umbraco database table?"
Is't possible to save into a Umbraco database table?

[2018-06-14 05:30] kjac commented on #193
Sure it is. You can swap the storage index with your own custom implementation or with one of the sample implementations (one of which uses SQL instead of Lucene).

Check [the documentation](https://github.com/kjac/FormEditor/blob/master/Docs/storage.md#changing-the-storage-index).

[2018-07-30 10:49] biapar opened #194 "How to redirect the user to external page like Paypal after submit?"
How to redirect the user to external page like Paypal after submit?

[2018-07-30 18:32] kjac commented on #194
Hi @biapar,

That is not supported out of the box, but you can work around it in a number of ways:

1. Inject your logic into the Form Editor rendering - e.g. after [this line](https://github.com/kjac/FormEditor/blob/master/Source/Umbraco/Views/Partials/FormEditor/NoScript.cshtml#L36) if you're using the NoScript rendering. This may be a bit more tricky to do with the Async rendering, as you'd nee

[2018-07-31 07:51] biapar commented on #194
The better is the point 2 because the 1 I've to change the JS core code and maybe overwritten by an update.
For the point 2, I've to redirect the user to an Umbraco Page and then redirect it to Paypal.
Why Do you not add the feature to redirect to external page like to already redirect to internal Umbraco page?

[2018-08-06 08:50] kjac commented on #194
Hi @biapar,

I'm limited to use the pickers that are built into Umbraco, and the content picker doesn't allow for defining external URLs. That's why :)

I'm closing this now. Feel free to reopen if you need any further info.

[2018-08-06 08:50] #194 closed

[2018-08-08 12:39] jjbrunton opened #195 "Partial Submission"
Has anyone attempted to wrap up partial submission with this plugin?

I'm looking for a way for users to save their progress and resume. First thoughts were to make an ajax wrapper above the form itself which would be constantly saving to either Umbraco DB or some external DB. I'd then have a content page that would retrieve the active records for the current user, it'd then load the form and the

[2018-08-09 09:14] kjac commented on #195
Hi @jjbrunton,

To my knowledge that's not been attempted :)

It sounds like you need to create your own rendering... reusing the existing ones might prove a bit of a challenge, both in terms of injecting existing values and saving the progress on the fly.

If I was you I'd probably look into the NoScript rendering and see if it's possible to watch the changes to the form fields; then create some

[2018-08-09 09:20] jjbrunton commented on #195
Thanks for the input @kjac! I just wanted to check if this had been done before attempting to do it :)

[2018-08-09 09:29] kjac commented on #195
Cool! Let me know if you manage to work something out :)

[2018-08-09 09:51] #195 closed

[2018-09-03 15:13] uniquelau commented on #192
I've got the logic for .Contains, would you like me to create a PR?

It's pretty straight forward, we just use `indexOf` in the front-end code, and use .Contains in the C#.

[2018-09-17 17:32] bobi33 opened #196 "Multiple"
Hi there, it looks like if you have multiple document types with the form editor tab, and you try to configure the web service integration, you cannot use different usernames and passwords if you have multiple document types.

For example:
-You have a document type associated with the contact page, which has a separate mailbox in mailtrap (so separate username and password); and you have a documen

[2018-09-18 08:30] kjac commented on #196
Hi @bobi33. I'm a little confused 😄

Are you saying you have multiple Form Editor properties on the same document?

[2018-09-18 13:12] bobi33 commented on #196
I have one form editor property on one doc type, and another form editor property on another doc type. However, they’re linked somehow: the smtp info in particular is linked. One doc type form editor property cannot have different smtp info than the other.

[2018-10-12 23:13] joshreid opened #197 "Set a field value programatically inside the BeforeAddToIndex"
On BeforeAddToIndex, we're hitting an API and would like to add response data to the form before indexing (as catch if the API req fails we cancel the EventArgs, etc).

Any way to do this?

[2018-10-13 05:13] kjac commented on #197
Hi @joshreid, of course there is a way 😄

Your first challenge is storage. Form Editor won't store anything that's not part of the form schema (i.e. the fields in the form). So you need one or more fields to contain the API response.

My best suggestion is to create a [custom field](https://github.com/kjac/FormEditor/blob/master/Docs/extend_field_advanced.md) based on [`FieldWithValue`](https://gi

[2018-10-13 05:14] kjac commented on #196
@bobi33 looks like I've dropped the ball on this one. My apologies. I'll make sure to have a look at this as soon as possible, hopefully this weekend.

[2018-10-16 12:44] kjac commented on #196
@bobi33 I can't reproduce this. I've tried both the web service integration configuration for two different Form Editor data types and the email confirmation configuration for two different pages. No matter what I do they all work and I'm not seeing any linkage between them.

[2018-10-17 19:24] bob-2165 commented on #196
@kjac I'll need a few days, but I will take a video of what I am doing to reproduce the steps regarding the linkage.

[2018-11-20 10:00] RunnicFusion opened #198 "Improvement/how to: Use form placeholders in notification recipient and sender email address"
Maybe it's a good idea to add the possibility to add support for the usages of Form values as Recipient adres and sender e-mail for the notification e-mail. Right now only the Email subject of the notification mail can be set.

For a client I need to change the recipient address dynamically. Could you tell me how to do this?

[2018-11-27 08:18] dirgayudha opened #199 "Storing data with SqlIndex"
I`m trying to work with SqlIndex,
followed the samples :
- Save the index, entry and files in Storage and set copy always to store it in bin),
- Add ApplicationEvents to create the tables for the index
- Uncomment the SqlIndex in FormEditor.Config to enable it.

my umbraco current db is updated with 2 tables created (Entry and files table), but when i tried to to form submission, its still going t

[2018-11-28 07:21] kjac commented on #199
Hey @dirgayudha. Sounds like the Form Editor core can't find the SQL index implementation, so it reverts to the default (Lucene based) implementation.

Maybe there's a hint in the Umbraco logs - look for entries beginning with "Could not load custom".

[2018-11-28 07:21] kjac commented on #197
Closing this now due to lack of activity.

[2018-11-28 07:22] kjac commented on #196
Closing this now due to lack of activity.

[2018-11-28 07:25] kjac commented on #198
Hi @RunnicFusion.

Sorry for the late response. You can hook into `FormModel.BeforeSendMail` to manipulate the `MailMessage` object before it's sent.

Check #146 for inspiration. The code sample isn't exactly what you're looking for, but it should get you going in the right direction.

[2018-11-28 08:10] dirgayudha commented on #199
so i receive this in the log :
2018-11-28 15:05:20,089 [P14816/D2/T11] ERROR FormEditor.FormModel - Could not load custom ndex type (requested content ID: 1061)
System.Configuration.ConfigurationErrorsException: Custom ndex type "FormEditor.SqlIndex.Storage.Index, FormEditor.SqlIndex" could not be found
   at FormEditor.Configuration.ParseType(XElement element, Type declaration, Func`2 validateTyp

[2018-11-28 08:22] dirgayudha commented on #199
@kjac ah i found what's wrong... the FormEditor.SqlIndex in the type is the name of the project.
Because my project name is different, it cannot be found.

Thanks for the hint!

[2018-11-28 08:22] #199 closed, assigned to nobody

[2018-12-04 02:49] bob-2165 commented on #196
I let this lapse. Would a video be helpful for the purpose of troubleshooting this issue?

I get this issue when I go to:
1. Content > node with contact form.
2. "Emails" to change the recipient address to the desired one. I also keep the sender email address as the same one in the Umbraco .config file.
3. I then go to Settings > Document Types > contact form node > I click on the gear in form edi

[2018-12-04 14:07] RunnicFusion commented on #198
Hi kjac,

Thank you for your reply. I just tested it out on our project and found the following:

- I want to change the notification address on the fly, the correct value is setup in a string which is loaded from a cookie
- When I hookup the BeforeSendMail event I can change the mailmessage, but I can't seem to find a way to just change the internal (notification) e-mail instead on both e-mails.

[2018-12-05 09:19] RunnicFusion commented on #198
Found a way to:
- Only send the notification email to other address
- Only do this when a specific form field is found
- Only do this when the override field is not empty

[code]

[2018-12-05 12:28] villian opened #200 "Invisible rePaptcha is it working?"
Invisible rePaptcha is it working?

![image](https://user-images.githubusercontent.com/6407659/49513533-f8a44500-f899-11e8-869f-c55b2a935ced.png)

[2018-12-07 12:43] kjac commented on #198
@RunnicFusion awesome 😄

Looks like you found the `EmailType` property on the `FormEditorMailCancelEventArgs` 👍

Can this issue be closed?

[2018-12-17 09:12] dirgayudha opened #201 "Possibility for additional attributes"
Hi,

I`m wondering, i want to customize and create the form structure programatically.
I investigate that, the form structure for a content is saved in cmsPropertyData table.
I tried to edit the JSON to add new field directly in the database.
It works! but i`m thinking to do this programatically (creating the json manually and update the db).

Is there any hint for this ?

And further more,
I see

[2018-12-21 09:16] dirgayudha commented on #201
I also found this documentation : https://github.com/kjac/FormEditor/blob/2ed888aa20561f30e2c57a7744b9dd3a335b4112/Docs/initialize.md

I found that the FormModel and their attributes are already defined in its designated meta.
Is there any way i can edit the meta to add custom attribute ?

[2019-01-15 00:09] bob-2165 commented on #196
@kjac ?

[2019-01-15 09:49] nalysa-etienne commented on #201
Hi Kjac,
so far, Form Editor propose to assign an alias in the Row and cell definition ( ie: in FormeEditor Datatype definition)
Therefore, all rows and cells of the same type in a form will have the same alias.
We wish to be able to assign values to row and cell aliases at From content creation stage.
this feature will allow us to hide or show part of the files according to complex rules.

We alr

[2019-03-04 16:08] xman51 opened #202 "Wont install on Umbraco 8.0.0"
I attempted to install your package on Umbraco 8.0.0 by downloading the 1.3.2.1 zip from your release page and received the following error:

Apparently Umbraco does not like the version of the package. Will you be releasing a version for Umbraco 8 soon?

[2019-03-04 16:36] kjac commented on #202
Hi @xman51. I'm still undecided if I'll be porting FormEditor to V8. So... that's a no on the "soon" part 😄 sorry.

[2019-03-04 16:36] #202 closed, assigned to nobody

[2019-03-16 02:42] bob-2165 opened #203 "Opening older issue again"
I let this lapse. Would a video be helpful for the purpose of troubleshooting this issue?

I get this issue when I go to:
1. Content > node with contact form.
2. "Emails" to change the recipient address to the desired one. I also keep the sender email address as the same one in the Umbraco .config file.
3. I then go to Settings > Document Types > contact form node > I click on the gear in form edi

[2019-03-16 03:10] bob-2165 opened #204 "How to integrate with an app"
Hi @kjac, hope all is well. Do you know of any ways to integrate form editor with an app. So if an app is built which obtains form information, and then that information is parsed to form editor to store in the backend? I.e. fill out a form on an app and then that information appears in Umbraco.

[2019-03-16 12:01] kjac commented on #203
Hi @bobi33. I'm sorry but utterly confused. There's no SMTP settings configurable anywhere in Form Editor... at least none that I know of?

I'm pretty sure a video might clarify the issue.

[2019-03-16 12:05] kjac commented on #204
Hi @bobi33. You can have a look in the [docs](https://github.com/kjac/FormEditor/blob/master/Docs/render.md) at how async postbacks are handled. Perhaps [this section](https://github.com/kjac/FormEditor/blob/master/Docs/render.md#performing-asynchronous-postback-with-the-noscript-rendering) would be of use.

However you'll probably encounter a CSRF issue with this. And also, that API is more or le

[2019-03-16 18:49] bob-2165 commented on #203
@kjac sorry for the confusion. Here's the video. As you can see the form editor web service username and password of one doc type is linked to another. I have a feeling I'm doing something wrong. Ideally I want the contact us page to have one type of web service username and password and the careers-send-resume doc type to have another web service username and password. I hope this is clearer.

So

[2019-03-16 18:54] bob-2165 commented on #204
Ok, thanks. I'll look into it. I'm also trying to implement the form which is unique for each customer who logs in to the website. So customer logs in > fills out form > form populates a word document > customer logs out (hopefully).

Any suggestions regarding: (1) what service to use to populate a word document but to ensure that any parsing is highly encrypted to ensure data protection of very s

[2019-03-17 12:26] kjac commented on #203
Hi again.

You have reused the same instance a Form Editor datatype on both document types. That's why you see the configuration changing on both document types when you edit the datatype on either of them.

If you look closely this is exactly what the big red warning in the top of the "edit datatype" dialog is trying to tell you 😄

If you want individually configured datatypes on each document ty

[2019-03-17 12:26] #203 closed, assigned to nobody

[2019-03-17 12:34] kjac commented on #204
Good luck!

Have a look at [the docs](https://github.com/kjac/FormEditor/blob/master/Docs/reuse.md) concerning reusable forms if you want the same form available for multiple users. Otherwise I guess you just need to create pages with forms for those unique URLs and that'd be it.

[2019-03-17 12:34] #204 closed, assigned to nobody

[2019-03-18 03:25] bob-2165 commented on #203
@kjac  Thanks! Such a silly mistake. I couldn't figure out what I was doing wrong 😩

[2019-03-18 05:03] bob-2165 commented on #203
@kjac so now I have created a new data type called Form Editor (2) while maintaining the same property settings as the original data type in a new document type (doc type 2) which will handle the second form submissions. I have added the second inbox mailtrap username and password credentials to the new Form Editor (2) web service integration. I have also changed the recipient email address associ

[2019-03-18 10:01] kjac commented on #203
@bobi33 I'm not sure why you'd think the web service integration would be used for sending out mails. If you refer to [the docs](https://github.com/kjac/FormEditor/blob/master/Docs/install.md#email-templates), you'll see that emails are sent using the mail server specified in the `<mailSettings/>` configuration in web.config.

However... you can specify a specific recipient email per form for noti

[2019-03-18 15:44] bob-2165 commented on #203
@kjac I am likely confused, but I thought that the web service integration sends the form content to a web service like mailtrap, which I have yet to see; but I guess without an actual web service set up in c# integrating mailtrap any post actions to my mailtrap username and password and https://mailtrap.io as the web service url did absolutely nothing when listing that in the web service integrat

[2019-03-19 14:36] biapar opened #205 "Will be a porting to U8?"
Will be a porting to U8?

[2019-03-19 15:44] kjac commented on #205
I have no immediate plans to do so. For the time being I'm throwing my spare time into the Umbraco core.

[2019-04-16 12:18] marciogoularte commented on #205
I'm porting to Umbraco 8. I wanted to contribute when I finished releasing the code

[2019-05-15 11:52] kieron opened #206 "Cant seem to auto-fill more than 2 fields."
Sorry this isnt strictly an 'issue' but im just using the package, and following [this](https://github.com/kjac/FormEditor/blob/master/Tutorials/DefaultValues.md), I was able to get Name + Email auto-filled, the same as the guide, but then I added a third one, seen here:

[code]

I also have in the Form content, a text-field, called [Manager](https://gyazo.com/e408ad723209b7523593890ee365feb9), wh

[2019-05-27 14:04] bob-2165 opened #207 "Security Issue?"
Hi there,

I have received 3 contact form requests through this form from what appears to be a spam bot indicating some type of ransomwear:

"Hey. Soon your hosting account and your domain [website] will be blocked forever, and you will receive tens of thousands of negative feedback from angry people.

Here is a list of what you get if you don’t follow my requirements:
+ abuse spamhouse for aggres

[2019-05-27 14:24] kjac commented on #206
Hi... I see a few errors in your code.

1. You can't declare `var field` twice.
2. `f` does not have a `manager` property. You're looking for the `Name` property when you do that kind of comparison. That's why the name and email fields both work.

[2019-05-27 14:24] #206 closed, assigned to nobody

[2019-05-27 14:26] kjac commented on #207
Hi there. Well, reCAPTCHA is supported out of the box. It's really good for spam protection on your forms.

Read more about it [in the docs](https://github.com/kjac/FormEditor/blob/master/Docs/fields.md#the-recaptcha-fields).

[2019-05-27 14:26] #207 closed, assigned to nobody

[2019-05-27 14:30] bob-2165 commented on #207
Hi, it looks like it got through reCAPTCHA. I am just trying to assess the potential security risk if they inject some type of code into the form to spam the website. I found a few examples of this on the internet.

[2019-06-06 00:31] marciogoularte commented on #205
I converted a good part of the code. But I'm having problems with PreValues

Umbraco.DataTypeService.GetPreValuesCollectionByDataTypeId (id);
preValueDataType.PreValuesAsDictionary

do not exist anymore

I do not know how to do more, how do I go up the code and release for contribution?

[2019-06-06 19:51] marciogoularte commented on #205
![image](https://user-images.githubusercontent.com/215987/59062071-56cad880-887b-11e9-9a44-8b1dfa59ace7.png)
ContentHelper.cs

[2019-06-12 13:55] DirkValgaeren opened #208 "Export not working for special characters"
Hi,

When I try to do an export to csv, the characters with accents are converted to something unreadable. Can you tell me where I find the code where the export happens? So I can have a look on how to fix this.

[2019-06-14 12:49] m-gebski commented on #205
You might try going with:
![image](https://user-images.githubusercontent.com/43412355/59510249-826d4480-8eb3-11e9-8c7d-7bf3d7242d84.png)
Property `valueList.Items` should have all prevalues

[2019-06-14 22:54] marciogoularte commented on #208
I had this problem with characters with accents in Portuguese. I changed the source code of CsvExport.cs

https://github.com/kjac/FormEditor/blob/master/Source/Solution/FormEditor/Api/CsvExport.cs#L142
From:
![image](https://user-images.githubusercontent.com/215987/59542824-43081d80-8ede-11e9-9a18-e60140495e90.png)

I change to:
![image](https://user-images.githubusercontent.com/215987/59542793-12

[2019-06-19 03:35] marciogoularte commented on #205
does not work. In v7 it is key/value. This object(ValueListItem) is Id/value. Solution is a custom configuration, I'm working on it

[2019-07-05 08:30] m-gebski commented on #205
Any progress on v8 port?

[2019-07-13 14:09] marciogoularte commented on #205
I'm testing the custom configuration I made. I found some bugs but I'm fixing. I wanted to send the code I made, but not if I created another repository (my github) or sent to the owner of that one to upload it.
As I have 12 years of programming, this github world is new to me, I do not know how to proceed.

I await suggestions

[2019-07-16 14:17] m-gebski commented on #205
Unfortunately, I'm not comfortable with giving advice in this regard.
The only time I contributed to a project I made a fork of a project, pushed changes to it and opened pull request for the main project.
https://help.github.com/en/articles/about-pull-requests

[2019-07-17 07:21] uniquelau opened #209 "Bootstrap CSS Url 404"
The URL for the bootstrap CSS now returns a 404.

http://getbootstrap.com/dist/css/bootstrap.min.css

[2019-07-23 22:05] manylson opened #210 "Edit values inside "BeforeAddToIndex" event"
First of all, thank you for all the hard work and time spent on this project.

My question is similar to some already made here, but it is specifically related to the event BeforeAddToIndex.

Is there any way to change a value of a field before it is stored to db?

My example would be like:

`private void FormModelOnBeforeAddToIndex(FormModel sender, FormEditorCancelEventArgs formEditorCancelEvent

[2019-08-12 12:32] ewarudol commented on #205
Hi @marciogoularte ! If you have troubles with pull requesting you can create own repo and link creators. Or try to upload ZIP to outer service and put here.

[2019-10-07 21:34] SkrypnikO opened #211 "The form stopped to work accidentally"
The form stopped to work accidentally, for a while it didn't work. And after saving the form again - start to work again.

I'm struggling with finding the reason for that.

Can it be a corrupted Examine index?

Don't see issues in the log.

[2020-02-25 06:24] bob-2165 opened #212 "Lost form submissions when restoring database from server"
Hi,

Can you recommend a way to copy a server database to the localhost where you won't lose any form submissions? I used SSMS to create a backup of the server database. I then restored the database to the localhost database. However, after logging into the back office (the passwords changed so I had to change the hex value in the user table) the form data is no longer there. Any suggestions?

[2020-04-16 08:00] LasseKofoed opened #213 "AllowHtml on custom field"
How can I allow html on a custom field?
Im use TinyMce on a field, to let user submit a article.

ps. loving FormEditor so much that i have not upgrade to Umbraco 8 yet :)

[2020-04-19 18:21] LasseKofoed commented on #213
Solved it by using the encoding: xml on tinymce

[2020-04-19 18:21] #213 closed, assigned to nobody

[2021-01-14 16:20] bob-2165 opened #214 "Deleting form entries not working"
Hi,

I am receiving a "Server error: Contact administrator, see log for full details.
Could not delete data" message when trying to delete individual or batched form entries. The log does not detail anything. Any suggestions on how to actually get these items deleted or how to tackle the issue?

-Thanks!

[2021-01-14 16:54] bob-2165 commented on #214
Never mind, it was a server issue!

[2021-01-14 16:54] #214 closed, assigned to nobody

[2021-01-31 18:27] nnahmed commented on #205
@marciogoularte Did you finalize it? for v8 or what is the current status. many other folks are looking for this .

[2021-03-09 13:07] met67 commented on #205
@marciogoularte Any news? Do you have any public repository? Maybe we could help this effort...